/*css for blog details page*/
.default_template_holder{
	margin: 0px;
	width: 100% !important;
}
.default_template_holder .blog_single{
	width:100% !important;
	margin:0px;
}
.blog-social-icons{
	margin-right: 30px;
	cursor: pointer;
}	
.left-content .v-align *{
	cursor: pointer;
}
.post_content_holder .post_image{
	display: none !important;
}
.full-width{
	width: 100% !important;
}
.clearfix-col{
	padding-right: 0px;
	padding-left: 0px;
}
ol, ul{
	margin-bottom: 0px !important;
}
.post_content_holder .left-content{
	padding: 0px 100px;
}
.post_content_holder .left-content .v-align{
	margin: 70px 0px 40px 0px;
}

.post_content_holder .col-md-5{
	margin: 70px 0px 40px 0px;
	padding-right: 130px;
	text-align: right;
}
.post_text .aligncenter{
	margin: 0px !important;
}
.post_text_inner .content{
	min-height: auto !important;
	padding-top: 0px !important;
}
.post_text_inner div, .post_text_inner p, .post_text_inner h1, .post_text_inner h2, .post_text_inner h3, .post_text_inner h4, .post_text_inner h5, .post_text_inner h6, .post_text_inner li {
	font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 500;
    color: #7b7b7b;
    line-height: 20px;
    padding: 15px 0px;
}
article{
	font-size: 18px;
}
.h5ab-print-button-container *{
	padding: 0px;
	margin: 0px;
}
.fa-print{
	content: url(http://159.89.156.150/wp-content/uploads/2018/04/printer_img.png);
}
.h5ab-print-button-container{
	padding: 0px;
	margin: 0px;
	position: absolute;
    top: 80px;
    left: 300px;
}
.h5ab-print-button-container i{
	visibility: hidden;
}
.blog-back{
	color: #2772b9;
	font-size: 14px;
	font-family: "Proxima Nova";
	text-align: right;
	height: 50px;
	cursor: pointer;
	margin-top: 70px;
}
.popular-articles{
	text-align: left !important;
	margin-top: 20px;
}
.popular-articles div:first-child{
	color: #000000;
	text-transform: uppercase;
	border-bottom: 1px solid #e6e5e6;
}
.popular-articles *{
	font-size: 16px;
	padding: 20px 0px;
	font-family: "Proxima Nova";
	font-weight: 600;
}
.popular-articles ol, .popular-articles ol:hover, .popular-articles ol:focus, .popular-articles ol:active{
	color: #2772b9 !important;
}
.popular-articles ol li:first-child{
	padding-top: 42px !important;
}
.popular-articles ol li{
	width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style-position: inside;
}
.popular-articles ol li a{
	color: #1a6bb6 !important;
	border: 0px;
	outline: none;
	text-decoration: none;
}
.post_text_inner ul{
	padding: 10px 0px !important;
}
.single-post .blog_single p{
	margin-bottom: 0px !important
}
.details{
	border-bottom: 1px solid #e5e5e5;
}
#common-footer p, #feature-footer p{
	margin-bottom: 30px !important;
}
.post_text_inner ul li{
	list-style-image: url(http://159.89.156.150/wp-content/uploads/2018/04/gap4.png);
}
.background-white{
	background-color: #fff;
}
.comment_holder{
	display: none !important;
}
.blog_holder article .post_text .post_text_inner{
	padding: 0px !important;
}
.content{
	margin-top: 0px !important;
	background-color: #fff;
}
.post_text_inner .entry_title{
	display: none !important;
}
b{
	font-weight: bold !important;
}
.post_info{
	display: none !important;
}
div.comment_form{
	display: none;
}
.blogs{
	width: 100%;
}
.blog-details-hero{
	margin-top: -18rem;
	background-size: cover !important;
	background-position: center center !important;
	height: 45rem;
	-webkit-filter: grayscale(100%) brightness(40%) !important;
}
.details-article-header{
	position: absolute;
	background-color: #fff;
	bottom: 0;
	width: 100%;
	height:35%;
	opacity: 0.8;
	text-align: center;
}
.article-name{
	padding-top: 4.5rem;
	font-size: 2rem;
	font-family: 'Proxima Nova';
	font-weight: 700;
	color: #000;
	padding-bottom: 0rem;
}
.artcle-heading{
	color: #000;
	font-family: 'Proxima Nova';
	font-size: 4rem;
	letter-spacing: 1px;
	font-weight: 700;
}
.bank-carousel{
	bottom: -60px !important;
}
.bank-carousel li {
    height: 15px !important;
    width: 15px !important;
    background-color: #c0c0c0 !important;
}
.bank-carousel li.active {
    height: 15px !important;
    width: 15px !important;
    background-color: #2772b9 !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) { 
	_::-webkit-full-page-media, _:future, .blog_holder article { 
		margin-bottom: 0px !important;
	}
}

:-ms-fullscreen, .our-clients-carousel .carousel-width {
	width: 100% !important;
}
:-ms-fullscreen,footer{
	margin-top: -10px;
}
.post_text_inner .h5ab-print-button-container{
	display: none;
}
/*blog details css for >1600px*/
@media(min-width: 1600px) {
	.post_content_holder .left-content{
		padding: 0px 150px;
	}
	.post_content_holder .col-md-5{
		padding-right: 150px;
		padding-left: 0px;
	}
	.post_text_inner div, .post_text_inner p, .post_text_inner h1, .post_text_inner h2, .post_text_inner h3, .post_text_inner h4, .post_text_inner h5, .post_text_inner h6, .post_text_inner li {
	    font-size: 22px;
	    line-height: 27px;
	    padding: 25px 0px;
	}
	article{
		font-size: 22px;
	}
	.post_text_inner ul li{
		list-style-image: url(http://159.89.156.150/wp-content/uploads/2018/04/gap2.png);
	}
	.blog-back{
		font-size: 18px;
	}
	.blog-details-hero{
		height: 60rem;
	}
	.details-article-header{
		position: absolute;
		background-color: #fff;
		bottom: 0;
		width: 100%;
		height:35%;
		opacity: 0.8;
		text-align: center;
	}
	.article-name{
		padding-top: 5.5rem;
	}
	.artcle-heading{
		font-size: 5rem;
	}
	.popular-articles{
		margin-top: 10px;
	}
	.popular-articles *{
		padding: 26px 0px;
		font-size: 22px;
	}
	.popular-articles ol li:first-child{
		padding-top: 52px !important;
	}
	.bank-carousel li {
	    height: 20px !important;
	    width: 20px !important;
	}
	.bank-carousel li.active {
	    height: 20px !important;
	    width: 20px !important;
	}

}
@media(min-width: 320px) and (max-width: 767px) {
	.post_content_holder .left-content{
		padding: 0px 20px;
	}
	.article-name{
		padding-top: 3.5rem;
		font-size: 1.5rem;
	}
	.artcle-heading{
		font-size: 2rem;
	}
	.post_content_holder .col-md-5{
		padding-right: 20px;
	}
	.post_text_inner div, .post_text_inner p, .post_text_inner h1, .post_text_inner h2, .post_text_inner h3, .post_text_inner h4, .post_text_inner h5, .post_text_inner h6, .post_text_inner li {
	    font-size: 12px;
	    line-height: 15px;
	    padding: 10px 0px;
	}
	article{
		font-size: 12px;
	}
	.v-align{
		display: inline-flex !important;
	}
	.post_text_inner ul li{
		/*list-style-image: url(http://159.89.156.150/wp-content/uploads/2018/04/gap4.png);*/
		background-image: url(http://159.89.156.150/wp-content/uploads/2018/04/gap4.png);
	    background-repeat: no-repeat;
	    background-position: 0px 7px;
	    list-style: none;
	    padding-left: 20px;
	}
	.blog-back{
		font-size: 12px;
		margin-top: 0px;
	}
	.blog-social-icons{
		margin-right: 20px;
	}
	.post_content_holder .left-content .v-align{
		margin-left: 25px;
		margin-top: 0px;
		margin-bottom: 50px;
	}
	.bank-carousel li {
	    height: 10px !important;
	    width: 10px !important;
	}
	.bank-carousel li.active {
	    height: 10px !important;
	    width: 10px !important;
	}
	.email{
		line-height: 30px !important;
		padding: 10px 15px !important;
	}
}