@font-face {
   font-family: 'Proxima Nova';
   src: url('../bridge/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
   src: url('../bridge/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
        url('../bridge/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;

}
@font-face {
 font-family: 'Flamante-Cairo-Book';
 src: url('../bridge/fonts/FlamanteCairoBook.woff') format('woff'),
      url('../bridge/fonts/FlamanteCairoBook.ttf') format('truetype'),
      url('../bridge/fonts/FlamanteCairoBook.svg#FlamanteCairoBook') format('svg');
 font-weight: normal;
 font-style: normal;
}
.blog-head-bg{
	background-image: url('http://159.89.156.150/wp-content/uploads/2018/04/Bg.png');
}
.blog-header-text{
	padding-top: 9rem;
  text-align: center;
  color: #000;
  font-family: "Flamante-Cairo-Book";
  font-size: 3.7rem;
  line-height: 1.3;
}
.blog-features-div,.blog-popular-div{
  margin-bottom: 5rem;
  border-top: 1px solid#ccc;
  padding-bottom: 0rem;
  margin-top: 4rem;
  padding-top: 2rem;
}
.blogHeaderLabel,.blogPopularHeaderLabel{
	text-align: center;
	font-family: "Proxima Nova";
	color: #000;
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 2rem;
}
.amazingcarousel-play-video{
	left: 6% !important;
    top: -11% !important;
}
.wonderplugincarousel-container {
  padding-left: 5rem;
  padding-right: 5rem;
}
#wonderplugincarousel-container-1{
  padding-left: 0px;
  padding-right: 0px;
}
#wonderplugincarousel-container-3{
  padding-left: 5rem;
  padding-right: 5rem; 
}
.bodyBgBlog{
  background-color: #f3f4f6;
}
.removeBtnCls{
  background: transparent !important;
  border: 0px !important;
  font-weight: 700 !important;
  font-size: 1.8rem !important;
  font-family: "Proxima Nova" !important; 
  display: flex;
  align-items: center;
  color: #196cb8 !important;
}
.blog-popular-div{
  background-color: #2772b9;
  padding-top: 6rem;
  padding-bottom: 9rem;
}
.blogPopularHeaderLabel{
  color: #fff !important;
  text-align: left;
  padding-left: 3rem;
  font-size: 2.8rem;
  padding-bottom: 2rem;
}
.amazingcarousel-item-container{
  background-color: transparent !important;
  border: 0px !important;
}
.latestBlogDiv{
  margin-top: 10rem;
  margin-bottom: 20rem;
}
.latestBlogLabel{
  text-align: left;
  margin-bottom: 3rem;
  padding-left: 5rem;
}
.wonderplugin-gridgallery-elem-videobutton{
  left: 10px !important;
  top: -6px !important;
  background: url(http://159.89.156.150/wp-content/uploads/2018/04/Video_button.png) no-repeat left bottom !important;
      background-size: 50px 50px !important;
}
.contentGrid {
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-bottom: 2rem !important;
    padding-right: 1rem !important;
    max-height: 260px !important;
    min-height: 260px !important;
}
.showInMobile{
  display: none;
}
.hideInMobile{
  display: block;
}
.amazingcarousel-image>div {
  opacity: 0 !important;
}
@media only screen and (min-width: 1400px) {
  #wonderplugincarousel-1 .amazingcarousel-item{
    width: 680px !important;
  }
  .blog-header-text{
    padding-top: 11rem;
    font-size: 4.6rem;
  }
  .blog-features-div, .blog-popular-div{
    padding-top: 4rem;
    margin-top: 7rem;
    padding-bottom: 6rem;
  }
  .blogHeaderLabel, .blogPopularHeaderLabel{
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  .contentGrid{
    padding-top: 2rem !important;
    padding-left: 3rem !important;
    padding-bottom: 2rem !important;
    padding-right: 3rem !important;
    max-height: 290px !important;
    min-height: 290px !important;
  }
})
@media only screen and (max-width: 1400px) {
   /*#wonderplugincarousel-1 .amazingcarousel-item{
    width: 500px !important;
  }*/
  /*#wonderplugincarousel-1 .amazingcarousel-image{
    height: 100% !important;
  }*/
  /*.amazingcarousel-title.videoTitle{
    font-size: 1.6rem !important;
  }*/
  .blogPopularHeaderLabel{
    font-size: 2.8rem;
  }
  #wonderplugincarousel-1 .hideIfNodate{
    font-size: 1.2rem !important;
  }
  .amazingcarousel-play-video{
    background-size: 40px 40px;
  }
  /*#wonderplugincarousel-1 .amazingcarousel-prev{
    background-size: 30px 30px !important;
    left: 4% !important;
  }
  #wonderplugincarousel-1 .amazingcarousel-next{
    background-size: 30px 30px !important;
    right: 4% !important;
  }*/
  .wonderplugin-gridgallery-item{
    /*width: 350px !important;*/
  }
  .blog-popular-div{
    padding-bottom: 4rem;
  }
  .latestBlogDiv{
    margin-bottom: 12rem;
  }
}
@media only screen and (max-width: 800px) {
  /*#wonderplugincarousel-1 .amazingcarousel-prev{
    background-size: 30px 30px !important;
    left: 11% !important;
  }
  #wonderplugincarousel-1 .amazingcarousel-next{
    background-size: 30px 30px !important;
    right: 11% !important;
  }*/
  .showInMobile{
    display: block;
  }
  .hideInMobile{
    display: none;
  }
  .blog-header-text {
    padding-top: 3rem;
    font-size: 1.8rem;
    margin-top: 0rem;
  }
  .amazingcarousel-play-video{
    background-size: 40px 40px !important;
  }
  .blogPopularHeaderLabel{
    font-size: 2rem;
    text-align: center;
  }
  .blog-popular-div{
     padding-top: 2rem; 
     padding-bottom: 0px; 
  }
  .latestBlogLabel{
    text-align: center;
  }
  
}
@media only screen and (max-width:599px){
  .wonderplugin-gridgallery-list, .wonderplugingridgallery-flipy-in {
    width:100% !important;
  }
  .wonderplugin-gridgallery-item.wonderplugin-gridgallery-item-visible {
    width:90% !important;
    left:5% !important;
  }
  .latestGridontent, .wpp-category-bluebutton-dropdownmenu{
    width: 95%;
    margin-left: 5%;
  }
}
@media(min-width: 320px) and (max-width: 767px) {
  .wonderplugin-gridgallery-item-button{
    display: none;
  }
}