

 nav.main_menu>ul>li.active>a>span:not(.plus) {
position: relative;
display: inline-block;
vertical-align: middle;
padding: 10px 28px 12px 29px;
line-height: 23px;
border-radius: 4em;
background-color: #fff;
}

header:not(.with_hover_bg_color) nav.main_menu>ul>li:hover>a{
opacity:1;
}

header.sticky nav.main_menu > ul > li.active > a span{
color: #333 !important;
}

.q_progress_bar {
    position: relative;
    margin: 0 0 53px;
    width: 100%;
    overflow: hidden;
    text-align: left;
}
.testimonial_title_holder h5{
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
}

.scroll_header_top_area .fixed transparent scrolled_not_transparent page_header scrolled .main_menu drop_down right {

  padding:0px;
}

.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea{
    text-align: center;
}

.wpcf7 form.wpcf7-form p {
    margin-bottom: 7px;
}

.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
    margin-top: 6px;
}

.q_counter_holder.center {
    padding: 0;
}
