/*------------------------------------------------------------------
 * This is main css file for print view.
 -------------------------------------------------------------------*/
/*@media only print {
  header, footer,
  .title_outer,
  .portfolio_print,
  header.page_header {
    display: none !important;
  }
  .container_inner {
    max-width: 80%;
  }
  div[class*='columns'] > div[class^='column'] {
    float: none;
    width: 100%;
  }
  html,
  body,
  .wrapper,
  .wrapper-inner .container,
  .container-inner {
    padding-top: 0 !important;
    margin-top: 0 !important;
    top: 0 !important;
  }
}*/
@media print {
body {background:white; 
     font-size:10pt; 
     margin:0; }
#sidebar { display:none; }
#header { height:75px; }
#content{ margin-left:0; 
     float:none; 
     width:auto; }
.demo .red { color:black; 
     font-weight:bold; }
#content a { font-weight:bold; 
     color:#000066; 
     text-decoration:underline; }
#content{ margin-left:0; 
     float:none; 
     width:auto; }
#footer, .ad { display:none; }
h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
     page-break-inside:avoid; }
h3 { margin-left:10px; 
     margin-bottom:0px; 
     padding-bottom:0px; }
blockquote, table, pre { page-break-inside:avoid; }
ul, ol, dl  { page-break-before:avoid; }
img.centered { display: block; 
     margin-left: auto; 
     margin-right: auto; }
img.right { padding: 4px; 
     margin: 0 0 2px 7px; 
     display: inline; }
img.left { padding: 4px; 
     margin: 0 7px 2px 0; 
     display: inline; }
.right { float: right; }
.left { float: left; }
img { page-break-inside:avoid; 
     page-break-after:avoid; }
}