@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #ffffff;
	}
				}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 200px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
	
	
	
	
	
	}
@media only screen and (max-width: 600px) {
	
			h2, h2 a {
			font-size: 35px; 			line-height: 39px; 		    letter-spacing: 0px; 		}
	
	
			h4, h4 a {
			font-size: 19px; 			line-height: 29px; 		    letter-spacing: 0px; 		}
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 200px;
		}
	
		
			.footer_top.footer_top_full {
			padding-right:10px;
		}
			.footer_top.footer_top_full {
			padding-left:10px;
		}
	}