/*
Theme Name: Bridge
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: Bridge Theme
Tags: creative, portfolio, multi-purpose, clean, retina, responsive, parallax, mega menu, blog, agency, business, fullscreen, modern, background video, ajax
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 13.5
License: GNU General Public License
License URI: licence/GPL.txt

CSS changes can be made in files in the /css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/
@font-face {
    font-family: 'Proxima Nova';
    src: url('../bridge/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('../bridge/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('../bridge/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_altsemibold';
    src: url('../bridge/fonts/Mark Simonson - Proxima Nova Alt Semibold.eot');
    font-weight: normal;
    font-style: normal;

}
#happy-clients .carousel-inner .left p{
	text-align: center !important;
}
#happy-clients .carousel-inner .right p{
	text-align: center !important;
}
.blog-content-heading{
	font-size: 32px;
    line-height: 42px;
    color: #666666;
    font-family: "Proxima Nova";
}
/*@font-face {
    font-family: 'Flamante-Cairo';
    src: url('../bridge/fonts/Flamante-Cairo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/


/*@font-face {
  font-family: 'Flamante-Cairo';
  src: url('Flamante-Cairo.eot');
  src: url('Flamante-Cairo.woff2') format('woff2'),
       url('Flamante-Cairo.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FlamanteCairo';
  src: url('FlamanteCairo.woff') format('woff'),
       url('FlamanteCairo.ttf') format('truetype'),
       url('FlamanteCairo.svg#FlamanteCairo') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

/*@font-face {
    font-family: 'Flamante-Cairo-Book';
    src: url('../bridge/fonts/Flamante-Cairo-Book.ttf') format('truetype'),
    	 url('../bridge/fonts/FlamanteCairoBook.woff') format('woff'),
    	 url('../bridge/fonts/Flamante-Cairo-Book.eot?#iefix') format('embedded-opentype'),
    	 url('../bridge/fonts/Flamante-Cairo-Book.eot');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
  font-family: 'Flamante-Cairo-Book';
  src: url('../bridge/fonts/Flamante-Cairo-Book.eot');
  src: url('../bridge/fonts/Flamante-Cairo-Book.woff2') format('woff2'),
       url('../bridge/fonts/Flamante-Cairo-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'Flamante-Cairo-Book';
  src: url('../bridge/fonts/FlamanteCairoBook.woff') format('woff'),
       url('../bridge/fonts/FlamanteCairoBook.ttf') format('truetype'),
       url('../bridge/fonts/FlamanteCairoBook.svg#FlamanteCairoBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: 'Proxima Nova',Georgia, serif;
	color: #666666;
	font-size: 15px;
	line-height: 26px;
	max-width: 2600px;
	margin: 0 auto;
	background-color: #fff;
}
.background-image{
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 600px;
}
.sub-pos{
	position: absolute;
	bottom: 0px;
	background-color: #ffffff;
	width: 100%;
	opacity: 0.9;
}
.feature-title{
	font-size: 26px;
	color: #000000;
	font-family: "Proxima Nova"
}
.mw-100{
	max-width: 100%;
}
.v-align{
	display: inline-flex;
	align-items:center;
}
.tc{
	text-align: center;
}
.fixed-top{
	position:fixed;
}
.font18{
	font-size: 18px;
}
.li-sp{
	line-height:3;
}
.feature-ul li{
	padding: 0px 34px;
}
.feature-ul li a, .feature-ul li a:hover, .feature-ul li a:active, .feature-ul li a:focus{
	padding: 0px !important;
	font-family: 'Proxima Nova';
	font-weight: 600;
	color: #fff !important;
	font-size: 11px !important;
	line-height: 1.5;
}
#lead-scoring-and-allocation,#recommendation-engine,#social-channel,#social-selling,#geo-tagging,#frontline-learning{
	background-color: #fff;
}
#gamification{
	background-color: #fbfbff;
}
.features-9{
	list-style-type: none;
}
.feature-footer{
	height: 420px;
	background: url('http://159.89.156.150/wp-content/uploads/2018/03/footer_img.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align:center;
	display: flex;
  	align-items: center;
	width:100%;
}
.feature-footer div{
	width:100%;
}
.feature-footer p{
	color: #fff;
}
.feature-footer p{
	font-size: 19px;
	font-family: "Proxima Nova"
}
.feature-footer input{
	height: 50px;
	width: 320px;
	border-radius: 8px 0 0 8px;
	background-color: #fff;
	color: #999999;
	padding:10px 15px;
	border: 1px solid #fff;
	outline: none;
}
::placeholder{
	color: #999999;
	font-size: 17px;
}
.feature-header p{
	color: #000;
	font-size: 14px;
	font-weight: 600;
	font-family: "Proxima Nova"
}
.menu_icon{
	display:inline-block !important;
	padding-right: 10px;
}
.clearfix-row{
	margin-left: 0px;
	margin-right: 0px;
}
.clearfix-col{
	padding-left: 0px;
	padding-right: 0px;
}
.clearfix-p{
	margin-bottom: 0px;
}
.p-10-30{
	padding: 10px 30px !important;
}
.p-10-15{
	padding: 10px 15px !important;
}
.feature-bubbles{
    height: 50px;
    background: #eee;
    border-radius: 25px;
    text-align: center;
    margin-right: 10px !important;
    display: flex;
    align-items:center;
}
.mt-20{
	margin-top: 20px;
}
.mt-40{
	margin-top: 40px;
}
.mt-0{
	margin-bottom: 0px !important;
}
.feature-nav{
	background-color: #6f7c90 !important;
	margin-bottom: 0px !important;
	border: 0px;
	border-radius: 0px;
	min-height: 45px;
    height: 45px;
    width: 100%;
}
.cases-nav{
	margin: 0px 0px 0px 40px;
}
.common-nav{
	background: #fff !important;
}
.mr-230{
	margin-right: 230px;
}
.h-60{
	height: 60px;
}
.center{
	display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.plr-45{
	padding-left: 45px;
	padding-right: 45px;
}
.mlr-70{
	margin: 0px 70px;
}
.plr-17{
	padding-left: 17px !important;
    padding-right: 17px !important;
}
.submit{
	height: 50px;
    text-align: center !important;
    font-weight: 600;
    width: 100px !important;
    left: 56% !important;
    background-color: #2872b9 !important;
    border: 0px !important;
    color: #fff;
    outline: none;
    font-size: 17px;
    border-radius: 0px 8px 8px 0px!important;
}
.feature-footer > div >div{
	display: flex;
	align-items: center;
	justify-content: center;
}
.tr{
	text-align: right;
}
.tl{
	text-align: left;
}
.pos-rel{
	position: relative;
}
.m-a{
	margin: auto;
}
.w-100{
	width: 100%;
}
.userMessage, .common-tooltip{
	padding-top: 20px;
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 20px;
}
.email-tooltip, .subject-tolltip, .name-tooltip, .message-tolltip{
 	font-size: 14px;
 	color: #fff;
	text-align: left;
}
/*.active-selected{
	border-bottom: 3px solid #ed124c;
}*/
.p-10{
	padding: 10px;
}
.feature-scoring-nav{
	background-color: black;
	min-height: 40px !important;
	margin-bottom: 0px;
}
.h-40{
	height: 40px;
}
.background{
	background: url(../themes/bridge/img/background-subfeature.png);
    background-repeat: no-repeat;
}
.background-white{
	background-color: #fff;
}
.background-ghost-white{
	background-color: #fbfbff;
}
.feature-scoring-nav li a, .feature-scoring-nav li a:hover,.feature-scoring-nav li a:active,.feature-scoring-nav li a:focus{
	color: #fff !important;
	text-transform: uppercase;
	font-size: 12px;
	font-family: "Proxima Nova";
	font-weight: bold;
	letter-spacing: 1.3px;
}
#lead-scoring-and-allocation section .container-fluid{
	background: url(../bridge/img/background-subfeature.png);
    background-repeat: no-repeat;
}
#lead-scoring-and-allocation section .container-fluid .row{
	padding-left: 55px;
	padding-right: 55px;
}
.feature-footer-lead{
	height: 300px;
	background: #333;
	width:100%;
}
.feature-footer-lead div:first-child{
	width: 100%;
}
.feature-footer-lead h3, .feature-footer-lead p{
	color: #fff;
	text-align: center;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    top: 30px;
    left: -300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
.show-rem i{
	font-size: 1.5em;
}
.heading{
	font-family: 'Flamante-Cairo-Book';
	font-size: 24px;
	color: #000000;
	line-height: 1;
}
.black{
	color: #000000;
}
.mb-30{
	margin-bottom: 30px;
}
.mtb-100-30{
	margin-top: 100px;
	margin-bottom: 30px;
}
.mtb-30{
	margin: 30px 0px;
}
.ml-152{
	margin-left: 152px;
}
.mlr-50{
	margin-right: 50px !important;
	margin-left: 50px !important;
}
.font18{
	font-size: 14px;
}
.mtb-10-20{
	margin-top: 10px;
	margin-bottom: 20px;
}
.mr-100{
	margin-right: 100px;
}
.ml-80{
	margin-left: 80px;
}
.mr-80{
	margin-right: 80px;
}
.mb-41{
	margin-bottom: 41px;
}
.mt-150{
	margin-top: 150px;
}
.justify{
	text-align: justify;
}
.ws-nwr{
	white-space: nowrap;
}
.ptb-17{
	padding-top: 17px;
    padding-bottom: 17px;
}
.mt-34{
	margin-bottom: 34px;
}
.ptb-40{
	padding: 40px 0px;
}
.h-461{
	height: 461px;
}
.mb-20{
	margin-bottom: 20px;
}
.content-style{
	color: #666666;
	font-size: 23px;
	line-height: 29px;
	font-family: "Proxima Nova"
}
.title-main{
	font-size: 40px;
	line-height: 29px;
	font-family: "Proxima Nova"
}
.mr-100{
	margin-right: 100px;
}
.mr-10{
	margin-right: 10px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-53{
	margin-bottom: 53px;
}
.mtb-25{
	margin-top: 25px;
	margin-bottom: 25px;
}
.h-461{
	height: 461px;
}
.m-desc{
	margin: 70px 100px 70px 170px;
}
.graph-position{
	position: absolute;
    margin-top: 50px;
    right: -10px;
}
.subheading{
    font-size: 15px;
    font-family: "Proxima Nova"
}
.desc-text{
	text-align: center;
    color: #000000;
    font-size: 18px;
    font-family: "Proxima Nova"
}
.heading-text{
	width: 74%;
    text-align: center;
    margin: auto;
}
.m-100-auto{
	margin: 100px auto;
}
.w-60{
	width: 60%;
}
.deliver{
	font-size: 28px !important;
	font-family: 'Flamante-Cairo-Book' !important;
}
.want{
	font-size: 17px !important;
}
.happy-clients{
	font-size: 28px !important;
	margin: 150px auto 30px auto !important;
    font-weight: 500 !important;
    font-family: "Proxima Nova" !important;
    color: #000000 !important;
}
.our-clients-carousel .carousel-width{
	width: auto !important;
}
.our-clients-carousel{
	margin-top: 0px !important;
}
.lorem{
	font-size: 17px !important;
	font-family: "Proxima Nova" !important;
	color: #000000 !important;
	width: 75% !important;
	margin: 0 auto !important;
}
.carousel-width{
	width: 30%;
    margin: auto;
}
.bank-carousel{
	bottom: -60px;
}
.bank-carousel li{
	height: 15px;
	width: 15px;
	background-color: #c0c0c0;
}
.stop-youtube{
	pointer-events: none;
}
.bank-carousel .active{
	height: 15px;
	width: 15px;
	background-color: #2772b9;
}
.carousel-container{
	margin: 50px 0 100px 0;
}
.show-background{
	background-image: url(https://res.cloudinary.com/gamechange/image/upload/v1527577732/thesuccess_paragraph_background_wgrnvi.png);
	height: 500px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.show-background p {
	color: #fff;
	font-size: 17px;
	font-family: "Proxima Nova";
	margin-bottom: 20px;
}
.show-background p:nth-child(1) {
	padding-top: 100px;
}
.mlr-per{
	margin-left: 20px !important;
	margin-right: 50px !important;
}
.bank-background{
	background-color: #fafafa;
	height: 104px;
}
.m-50-auto{
	margin: 50px auto;
}
.social-media{
	margin-right: 0px !important;
	max-width: 80% !important;
}
.media{
	max-width: 75%;
}
.mr-0{
	margin-right: 0px !important;
}
.mt-30{
	margin-top: 30px;
}
.features-mob{
	font-size: 12px;
	font-family: "Proxima Nova"
}
.about-us{
	width:60%;
	margin: -100px auto 30px auto;
	text-align: justify;
}
.about-us h3{
	margin-bottom: 20px;
	font-size: 25px !important;
}
.about-us p{
	margin-bottom:10px;
}
/*.blog-footer{
	width: 60%;
 	margin: 0px auto 20px auto;
}
.blog_holder{
	width: 75%;
	margin: auto;
	margin-top:-80px;
}
.blog_holder .post_image {
	display:none!important;
}
.icon_star{
	color: #ffc005;
}
.blog_holder .comment_holder, .blog_holder .comment_pager,.blog_holder .comment_form{
	display:none;
}
.blog_holder article{
	margin-bottom: 40px !important;
}
.blog_holder .post_info {
	position:absolute;
	bottom: -10px;
}*/
.header_bottom{
	background-color: #fff !important;
}
.header_bottom{
	background-color: #fff !important;
}
.inner ul{
	background-color : #fff !important;
}
.inner ul li{
	border-bottom: 0px !important;
	width: 370px !important;
	height: 38px !important;
}
.inner ul li a{
	color: #676767 !important;
	text-transform: capitalize !important;
	font-size: 14px !important;
	line-height: 20px !important;
	font-weight: 400 !important;
	height: auto !important;
}
.inner ul li a:hover{
	color: #ed124c !important;
}
.second.drop_down_start{
	height: 356px !important;
}
.home-header .second span{
	font-size: 14px !important;
}
.q_logo a{
	height: 65px;
	visibility: visible;
}
.feaures-9-home .full_section_inner .wpb_column .vc_column-inner .wpb_wrapper .wpb_raw_code .wpb_wrapper div i{
	font-size: 2.7em !important;
    color: #99b0b9 !important;
    width: 81px;
    height: 81px;
    border: 3px solid #99b0b9;
    border-radius: 50%;
    text-align: center;
    line-height: 2.1;
}
.feaures-9-home .full_section_inner .wpb_column .vc_column-inner .wpb_wrapper .wpb_raw_code .wpb_wrapper div{
	margin-bottom:20px;
	display:inline-flex;
	align-items:center;
}
.feaures-9-home .full_section_inner .wpb_column .vc_column-inner .wpb_wrapper .wpb_raw_code .wpb_wrapper div a{
	font-size: 16.5px;
	padding-left: 7px;
	white-space: nowrap;
}
.feaures-9-home .full_section_inner .wpb_column .vc_column-inner{
	padding:0px !important;
}
.feature-footer{
	margin-top: 0px;
}
.footer_top_full{
	padding: 0px 20px 15px 20px!important;
}
.dropdown-content:hover{
	color:#ed124c !important;
}
.logo_wrapper img{
	height: auto !important;
	max-height: 25px;
	top:-40%;
}
.header_inner a{
	text-transform:uppercase !important;
	color: #7a8096 !important;
}
.header_inner a:hover,.header_inner a:focus,.header_inner a:active{
	color: #2171bb !important;
}
.main_menu{
	bottom: 7px;
}
.main_menu span{
	font-size: 14px;
	padding: 0px !important;
  background: none !important;
  border-radius: 0px !important;
}
.main_menu a i{
	margin: 0px !important;
	padding: 0px !important;
}
/*.main_menu li:last-child{
	background-color: #2772b9;
    border-radius: 4px;
    height: 50px;
	top: 25px;
	left: 45%;
}
.main_menu li:last-child span{
	bottom: 25px;
	color: #fff !important;
}*/
.header_inner_right{
	height: 80px;
}
.main_menu{
	height: 80px;
}
.main_menu .inner .menu-item span{
	margin-left: 10px;
}
.logo_wrapper{
	top: 5px;
    position: relative;
}
.demo{
	display:none;
}
.mobile_menu_button{
	position: absolute;
	right: 0px;
}
header.sticky nav.main_menu>ul>li>a{
	line-height: 5.6;
}
header.sticky .q_logo img{
	top: -15%;
}
.q_logo{
	top: 47% !important;
}
nav.mobile_menu{
	top: 50px;
}
.demo-desk{
	position:absolute;
	right:0;
	top: 20px;
}
.demo-desk button{
	background-color: #2772b9;
	border:none;
	border-radius: 4px;
	color: #fff;
	outline: none;
	white-space:nowrap;
	font-size: 14px;
	font-family : "Proxima Nova";
	height: 40px;
    padding: 0px 15px;
	font-weight: 600;
}
.main_menu span:hover{
	color: #2171bb !important;
}
.menu-main-menu {
	display:flex;
	align-items: center;
}
nav.main_menu ul li{
	height : 80px;
}
nav.main_menu ul li.active:not(:last-child){
	background-color: #6e7b90;
}
nav.main_menu ul li.active>a>span{
	color: #fff;
}
.circle{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1px solid #2171bb;
	position: relative;
	top: 5px;
}
nav.left{
	left: 173px !important;
}
.inner-circle{
	height: 8px;
	width: 8px;
	border-radius: 50%;
	border: 1px solid #2171bb;
	background-color: #2171bb;
	position: absolute;
	margin-top: 11px;
}
.per-inner{
	left: 26px !important;
}
.inner-circle-pos{
	left: 56px;
}
.inline{
	display: inline;
}
.webkit-inline{
	display: -webkit-inline-box;
}
.ml-10{
	margin-left: 10px;
}
.h-50{
	height: 50px;
}
.h-45{
	height: 45px;
}
.feature-ul li:hover{
	background-color: #2772b9;
	font-size: 11px;
}
.feature-ul li{
	display: flex !important;
	align-items:center;
}
.selected{
	background-color: #2772b9;
}
.main_menu{
	top:0px;
}
.ml-50{
	margin-left: 50px;
}
.mw-16{
	max-width: 16%;
}
.mw-12{
	max-width: 12%;
}
.mw-25{
	max-width: 25%;
}
.gamification-text{
	color: #1b6eb7;
}
.show-large-screen{
	display: none;
}
.sub-features:hover{
	cursor: pointer;
}
.sub-features .mb-20{
	height: 50px;
	width: 52px;
}
.sub-feature .sub-features .mb-20{
	margin: 0px auto 20px auto;
}
.sub-feature .sub-features .mb-20 span{
	margin: 0 auto;
}
.sub-feature .sub-features{
	margin-left: 53px;
	margin-right: 53px;
}
.subfeature-img{
	height: 50px;
	width: 52px;
}
.show-banks{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
.responsive-img{
	margin: 0 auto;
	display: block !important;
}
/*.carousel-inner>.item.active{
	text-align: center !important;
}*/
.m-200-auto{
	margin: 100px auto;
}
.per-mlr{
	margin-right: 33px !important;
	margin-left: 33px !important;
}
.sub-pos .row .clearfix-col{
	margin-top: 40px;
	margin-bottom: 45px;
}
.bold-italic{
	font-size:20px;
	line-height:1.4;
}
.home-background{
	background: url(https://res.cloudinary.com/gamechange/image/upload/v1527577890/home_img_fqp8vy.jpg);
	height: 480px;
}
.home-banks{
	display: grid;
	grid-template-columns: repeat(7,1fr);
	background-color: #fafafa;
	height: 60px;
	box-shadow: 0px 5px #dfdfdf;
}
.home-banks div{
	margin-left: 55px;
	margin-right: 55px;
}
.mt-80{
	margin-top: 80px;
}
.mw-80{
	max-width: 80%;
}
.performance-360 p{
	color: #2872b7;
    font-size: 28px;
    font-weight: 600;
    font-family: "Proxima Nova";
    padding-top: 60px;
    padding-bottom: 30px;
}
.performance-360-text p{
	font-size: 18px;
    font-family: "Proxima Nova";
    color: #666666;
    width: 60%;
    line-height: 34px;
    margin: 0 auto;
}
.stats-background{
	background: url(https://res.cloudinary.com/gamechange/image/upload/v1527577936/stats_bg_h93ts0.jpg);
	height: 300px;
}
.stats-background div div p{
	color: #fff;
}
.stats-text {
	font-size: 12px;
    font-weight: 500;
    font-family: "Proxima Nova";
	margin-bottom: 0px !important;
}
.stats-count{
	font-weight: 600;
	font-size: 35px;
	font-family: "Proxima Nova";
}
.mb-50{
	margin-bottom: 50px;
}
.mtb-80{
	margin-top: 80px;
	margin-bottom: 80px;
}
.mt-200{
	margin-top: 150px;
}
.features-core{
	font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family: "Proxima Nova";
}
.feature-lines{
	height: 2px;
    width: 40px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    right: -20px;
}
.feature-names{
	color: #000000;
    font-size: 16px;
    font-weight: 600;
    font-family: "Proxima Nova";
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
.mb-120{
	margin-bottom: 120px;
}
.h-300{
	height: 300px;
}
.stats-background .h-300:not(last-child){
	border-right: 1px solid #fff;
}
.stats-line{
	height: 150px;
    border: 1px solid #ffffff3b;
    position: absolute;
    right: 0;
    top: 0;
}
.footer_top_holder p{
	color: #8f9399 !important;
	font-size: 18px;
	font-family: "Proxima Nova";
}
#menu-main-menu li a{
	display: flex;
	align-items: center;
}
#menu-main-menu li a:hover, #menu-main-menu li a:active, #menu-main-menu li a:focus{
	color: #fff !important;
	background-color: #6e7b90 !important;
}
#menu-main-menu li a span:hover, #menu-main-menu li a span:active, #menu-main-menu li a span:focus{
	color: #fff !important;
	background-color: #6e7b90 !important;
}
header.sticky nav.main_menu > ul > li.active > a span{
	color: #fff !important;
}
.home-header #menu-main-menu>li>a>span{
	color: #fff;
}
.home-header.sticky #menu-main-menu>li>a>span{
	color: #6e7b90 !important;
}
.home-header.sticky #menu-main-menu>li>a:active>span, .home-header.sticky #menu-main-menu>li>a:hover>span, .home-header.sticky #menu-main-menu>li>a:focus>span{
	color: #fff !important;
}
.home-blog-posts{
	font-family: "Proxima Nova";
	font-weight: 600;
	font-size: 40px;
}
.home-header-line{
	height: 30px;
    width: 2px;
    background-color: #cccccc29;
    position: absolute;
    right: 0;
    top: 25px;
}
.main_menu li:last-child .home-header-line{
	display: none;
}

.Operations_slide{
	background: url(https://res.cloudinary.com/gamechange/image/upload/v1527577984/Operations_slide_bgznjx.jpg);
	height: 500px;
}
.blog-pots-title{
	font-size: 20px !important;
	font-family: "Proxima Nova" !important;
	font-weight: 600 !important;
	color: #000000 !important;
	margin-top: 20px !important;
	text-align: left !important;
	margin-bottom: 5px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.team-text{
	font-size: 20px;
	font-family: "Proxima Nova";
	font-weight: 600;
	color: #000000;
	margin-top: 50px;
	text-align: center;
}
.team-desc{
	width: 75%;
    margin: 0 auto;
    font-family: "Proxima Nova";
    font-size: 13px;
    margin-bottom: 20px;
}
.ptb-180-130{
	padding-top: 90px;
	padding-bottom: 65px;
}
.blog-post-text{
	font-size: 12px !important;
	font-family: "Proxima Nova";
	text-align: left !important;
	width: 100%;
	color: #787878 !important;
}
.hero-text{
	position: absolute;
	top: 33.5%;
	margin-left: 50px;
}
.pt-120{
	padding-top: 120px;
}
.h-595{
	height: 395px;
}
.pb-120{
	padding-bottom: 80px;
}
.stats{
	display: grid;
	grid-template-columns: 31% 27% 58%;
}
.br-stats{
	border-right: 1px solid #184e86;
}
.br-stats:after{
	height: 180px;
}
.pr-100{
	padding-right: 100px;
}
.pl-100{
	padding-left: 100px;
}
.w-50{
	width: 50%;
}
.ptb-180{
	padding-top: 90px;
	padding-bottom: 90px;
}
.mb-100{
	margin-bottom:50px;
}
.ptb-200{
	padding: 0px 50px;
}
/*.pl-70{
	padding-left: 70px;
}*/
.background-blog{
	background-color: #f2f5f9;
}
.blog-carousel{
	bottom: -100px;
}
.bg-functional-use{
	background-image: url(https://res.cloudinary.com/gamechange/image/upload/v1527578022/functional_bg_tpswsp.png);
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.functional-case{
	font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}
.sales-pos{
	height: 500px;
    position: relative;
    top: 96px;
}

.functional-buttons-pos{
	position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10%;
}
.glyphicon-sales{
	position: absolute !important;
    top: 57px !important;
    left: 11.5%;
    color: #2772b9;
}
.functional-cases-text{
	font-family: "Proxima Nova";
	font-weight: 500;
	font-size: 24px;
	width: 80%;
    margin: 0 auto;
    color: #000000;
    line-height: 50px;
}
.mt-60{
	margin-top: 60px;
}
.functionalities li{
	font-size: 18px;
    font-family: "Proxima Nova";
    font-weight: 500;
    margin-bottom: 30px;
    color: #000000;
}
.bg-learning{
	background-image: url(http://159.89.156.150/wp-content/uploads/2018/04/training_bg_img.gif);
	height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.bg-contact{
	background-image: url(http://res.cloudinary.com/gamechange/image/upload/v1527574655/contactus_img_arlys4.jpg);
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.mt-50{
	margin-top: 50px;
}
.contact-text{
	color: #fff;
    font-size: 30px;
    font-weight: 500;
    font-family: "Flamante-Cairo-Book";
    margin-top: 55px;
}
.contact-sec-text{
	margin-top: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
}
.bg-clients{
	background-image: url(https://res.cloudinary.com/gamechange/image/upload/v1527578082/Testimonial_bg_img_jdqatt.jpg);
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bg-contact label{
	color: #fff;
    text-align: left;
    font-size: 10px;
    font-weight: 600;
}

.bg-contact .submit{
	color: #fff !important;
    background-color: #2772b9 !important;
    border-radius: 8px !important;
    border: 0px !important;
    outline: none !important;
}

.functionalities ol li{
	list-style-image: url(http://159.89.156.150/wp-content/uploads/2018/04/gap2.png);
}
.mtb-130{
	margin-top: 130px;
	margin-bottom: 130px;
}
.bg-lorem {
	/*background-image: url(http://159.89.156.150/wp-content/uploads/2018/04/Testimonial_combine_bg_optional.png);*/
	background-image: none;
	height: 350px;
	width: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#back_to_top span i, #back_to_top span span{
	line-height: 45px !important;
}
.lorem-pos{
	position: absolute;
    width: 31.5%;
    top: 37%;
    left: 34%;
}
.lorem-text{
	text-shadow: 1px 1px 2px rgba(255,255,255,.4) !important;
	color: #000000 !important;
	font-size: 16px !important;
}
.h-48{
	height: 24px;
}
.pt-180{
	padding-top: 90px;
}
.features-core{
	font-size: 30px;
    font-weight: 600;
    color: #000000;
    font-family: "Proxima Nova";
}
.feature-names{
	color: #000000;
    font-size: 12px;
    font-weight: 600;
    font-family: "Proxima Nova";
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.social-icons{
	width: 45px;
	height: 45px;
	cursor: pointer;
}
.mr-7{
	margin-right: 7px;
}
.lr{
	color: #000000;
	font-size: 30px;
	font-weight: 600;
	font-family: "Proxima Nova";
}
.required label:after {
	content:"*";
}
.bg-contact input{
	outline: none;
	border: 0px;
	height: 46px;
    width: 284px;
    border-radius: 5px;
    padding-left: 15px;
}
.bg-contact label{
	font-size: 14px;
}
.bg-contact textarea{
	resize:none;
	outline: none;
	height: 86px;
    width: 284px;
    border-radius: 5px;
    border: 0px;
    padding-left: 15px;
}
.bg-contact .contact-form{
	width: 284px;
	text-align: left;
}
/*.item.next{
	text-align: center !important;
}*/
#functional-carousel .carousel-control, #happy-clients .carousel-control, #learning-resources .carousel-control{
	background-image: none !important;
}
#functional-carousel .carousel-control.left, #happy-clients .carousel-control.left{
	left: 150px;
}
#learning-resources .carousel-control.left{
	left: -20px;
}
#learning-resources .carousel-control.right{
	right: -20px;
}
#functional-carousel .carousel-control.right, #happy-clients .carousel-control.right{
	right: 150px;
}
#learning-resources .carousel-inner .item.active{
	display: inline-flex !important;
	align-items: center;
}
#learning-resources .carousel-inner .item.active>.youtube-player{
	margin-right: 70px;
	margin-left: 70px;
}
#functional-carousel .item img{
	max-width: 50%;
}
.bank-shadow{
	-webkit-box-shadow: 0px 3px 0px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    0px 3px 0px 0px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         0px 3px 0px 0px #ccc;
}
/*#learning-resources .carousel-inner .item .youtube-player img{
	height: 250px;
    width: 500px;
}
#learning-resources .carousel-inner .item .youtube-player iframe{
	height: 250px;
    width: 500px;
}*/
.learning-carousel{
	bottom: -80px;
}
/*css for youtube videos home page*/
.owl-item > div {
  cursor: pointer;
  margin: 6% 8%;
  transition: margin 0.4s ease;
}
.owl-item.center > div {
  cursor: auto;
  margin: 0;
  width: 100%;
  height: 100%;
}
.owl-item.center > div iframe{
	width: 500px;
	height: 250px;
}
.owl-item:not(.center) > div:hover {
  opacity: .75;
}
#learning-resources .carousel-inner .item div img{
	height: 150px;
	width: 200px;
}
.mt-70{
	margin-top: 70px;
}
.mt-270{
	margin-top: 140px;
}
.lorem-pos img{
	max-width: 60%;
}
.blogs-carousel{
	bottom: -50px;
}
.blogs{
	width: 300px;
	margin: 0 auto;
}
.blog-pots-title,.blog-post-text{
	text-shadow: none !important;
}
.submit-home input[type="email"]{
	visibility: hidden;
	height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.submit-home label div .ajax-loader{
	display: none;
}
.sub-feature .sub-features .lh-10{
	line-height: 10px !important;
	display: block;
}
#back-office-performance-management .sub-feature .sub-features, #sales-acceleration .sub-feature .sub-features{
	margin-left: 33px;
    margin-right: 33px;
    line-height: 15px;
}
#sales-acceleration .pm-sa {

}
#sales-acceleration .h-461{
	display: none;
}
.case-w{
	width: 70%;
}
.background-usecase{
	background-color: #f6fafd;
}
.usecases-list li:nth-child(1){
	list-style-type: none;
}

.usecases-list li:not(:first-child){
	list-style-image: url(http://159.89.156.150/wp-content/uploads/2018/04/gap.png);
}
.levarage-background{
	background-color: #edf2f7;
}
.ml-desc-text{
	margin: 70px 0px 50px 150px;
}
.mr-172{
	margin-right: 120px;
}
.usecases-list{
	font-size: 18px;
    width: 70%;
    line-height: 25px;
}
.customer-desc{
	font-size: 18px;
    font-family: "Proxima Nova";
    color: #202020;
    width: 70%;
    line-height: 25px;
}
.desc1{
	margin: 50px auto 10px auto;
}
.desc2{
	margin: 0px auto 50px auto;
}
.br-functional-use-case{
	border: 1px solid #ccc;
}
.w-560{
	width: 400px;
}
.h-716{
	height: 700px;
}
.service-cards{
	position: absolute;
	bottom: 70px;
    margin-left: 50px;
    align-items: center;
    display: flex;
}
.service-cards *{
	color: #fff;
	font-family: "Proxima Nova";
}
.card-header{
	font-size: 14px;
	padding-top: 20px;
}
.card-text{
	font-size: 16px;
	margin-top: 10px;
	font-weight: 600;
	white-space: nowrap;
}
.card-sub-text{
	font-size: 14px;
	margin-bottom: 10px;
}
.service-card{
	background-color: rgba(0,0,0,0.5);
	height: auto;
	min-height: auto;
	border-left: 5px solid #1a3d5b;
	border-right: 1px solid #1a3d5b80;
	border-top: 1px solid #1a3d5b80;
	border-bottom: 1px solid #1a3d5b80;
	margin: 0px 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
}
.service-cards * {
	color: #fffffffc;
	-webkit-font-smoothing: antialiased;
	font-family: "Proxima Nova";
	cursor: pointer;
}
.home-bank-clients{
	font-size: 14px;
    font-family: "Proxima Nova";
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: 900;
    color: #666666;
}
.bit-pla {
    padding: 75px 0px 88px 0px;
}
.home-main-text{
	font-size: 47px;
	font-family: "Proxima Nova";
	color: #000000;
	font-weight: 700;
}
.bit-pla-text{
	margin-bottom: 50px;
}
.functional-text{
	margin-bottom: 75px;
}
.customizable-use-case{
	color: #000000 !important;
    font-size: 25px !important;
    width: 80% !important;
    margin: 20px auto 0px auto!important;
    text-align: left !important;
    font-family: "Proxima Nova" !important;
    font-weight: 500 !important;
}
.operations-use-case{
	color: #000000 !important;
    font-size: 15px !important;
    width: 80% !important;
    margin: 20px auto 0px auto!important;
    text-align: left !important;
    font-family: "Proxima Nova" !important;
    font-weight: 500 !important;
}
.operations-use-case li:not(:last-child){
	margin-bottom: 20px;
}
.sales-use-case2 li:not(:last-child) {
	margin-bottom: 5px;
}
.ml-25-use-case{
	margin-left: 25px;
}
.bg-sales{
	background-image: url("http://159.89.156.150/wp-content/uploads/2018/04/sales_img.jpg");
}
.bg-operations{
	background-image: url("http://159.89.156.150/wp-content/uploads/2018/04/Operations_img.jpg");
}
.bg-call-center{
	background-image: url("http://159.89.156.150/wp-content/uploads/2018/04/Callcenter_img.jpg");
}
.bg-functional-headrer{
	height: 220px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.v-h-align{
	display: flex;
	align-items: center;
	justify-content: center;
}
.functional-img-heading{
	font-size: 43px !important;
	font-weight: bold !important;
	text-transform: uppercase !important;
}
.operations-list li{
	list-style-image: url(http://159.89.156.150/wp-content/uploads/2018/04/gap4.png);
}
.functional .carousel{
	border-top: 0px !important;
}
.functional-indicator{
	bottom: 20px;
}
.bg-bitnudge{
	background-image: url("https://res.cloudinary.com/gamechange/image/upload/v1527578192/Bitnudge_Innovation_bg_zoe5yl.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	padding-top: 65px;
	height: 642px;
}
.features-arr{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
.bg-blog{
	background-image: url(https://res.cloudinary.com/gamechange/image/upload/v1527578227/Blog_Post_bg_g6bdi7.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
}
.home-features{
	height: 80px;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    cursor: pointer;
}
.innovation-core span{
	margin-left: 15px;
	font-size: 15px;
	white-space: nowrap;
    color: #2772b9;
    font-family: "Proxima Nova";
}
.right-arrow:after {
    content: ' \2794';
    margin-left: 3px;
}
.innovation-core .col-md-4{
	cursor: pointer;
}
.home-features img{
	position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 60%;
}
.functional{
	padding-bottom: 78px;
}
.mb-74{
	margin-bottom: 74px;
}
.mlr-70{
	margin: 0px 70px;
}
.usage-statistics{
	font-family: "Proxima Nova";
	font-size: 30px;
	color: #fff;
	font-weight: 700;
}
.p-50{
	padding: 30px 0px;
}
.ml-35{
	margin-left: 10px;
}
.blog-background{
	width: 330px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 0px;
    border-radius: 16px;
}
.home-make{
	font-size: 30px;
	font-family: "Flamante-Cairo-Book";
	color: #fff;
	margin-bottom: 40px;
	text-align: left;
}
.productive-engaged{
	font-family: "Proxima Nova";
	font-size: 70px;
	color: #fff;
}
.bespoke{
	margin-bottom: 5px;
	line-height: 1.2;
}
.bots{
	width: 70px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.pr-3{
	padding-right: 3px;
}
.pb-90{
	padding-bottom: 40px;
}
.pt-100{
	padding-top: 50px;
}
.mh-55{
	max-height: 30px !important;
	top: -45% !important;
}
.header-features{
	text-transform:capitalize !important;
	font-size:15px !important;
	letter-spacing:1px !important;
	font-weight:600 !important;
}
.pt{
	padding-top: 0px;
}
.req-bt{
	font-size: 16px;
}
.t-30{
	top: 20px;
}
.bg-about{
	background-image: url(http://res.cloudinary.com/gamechange/image/upload/v1527575542/banner_about_si0i0d.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 760px;
}
.our-company-bg{
	position: absolute;
    background: #fbfbff;
    width: 100%;
    height: 252px;
    opacity: 0.9;
    bottom: 0px;
}
.fr-wf{
	font-size: 50px;
	font-family: "Flamante-Cairo-Book";
	color: #fff;
}
.home-features:hover{
	background-color: #2772b9;
}
.carousel-inner p{
	text-shadow: none !important;
}
.about-us-list{
	font-size: 18px;
    font-family: "Proxima Nova";
    line-height: 22px;
    margin-left: 100px;
    margin-right: 100px;
    color: #666666;
}
.about-us-hero{
	font-size: 25px;
    font-family: "Flamante-Cairo-Book";
    line-height: 30px;
    width: 80%;
    color: #000000;
    margin: 0px auto 20px auto;
}
.home-contact{
	background-color: #2772b9;
    border: none;
    border-radius: 10px;
    color: #fff;
    white-space: nowrap;
    font-size: 18px;
    font-family: "Proxima Nova";
    height: 40px;
    padding: 0px 35px;
    font-weight: 900;
    outline: none;
}
.overview{
	padding: 81px 0px;
}
.offices{
	padding: 65px 0px 73px 0px;
}
.about-us-title{
	font-family: "Proxima Nova";
	font-weight: 700;
	font-size: 25px;
	color: #000000;
	margin-bottom: 30px;
}
.about-us-text{
	font-size: 20px;
	font-weight: 500;
	font-family: "Proxima Nova";
	width: 80%;
    margin: 0 auto;
    line-height: 34px;
    margin-bottom: 48px !important;
}
.hr{
	margin: 0 auto;
	width: 417px;
	border-top: 1px solid #e5e5e5;
}
.founding-team{
	padding: 55px 0px;
}
.leadership-text{
	width: 50%;
    margin-bottom: 50px;
}
.team-align{
	width: 252px;
	margin: 0 auto;
}
.about-team-text{
	font-size: 20px;
	font-family: "Proxima Nova";
	font-weight: 700;
	margin-top: 30px;
}
.about-experience{
	font-size: 20px;
    font-family: "Proxima Nova";
    padding-top: 33px;
    padding-bottom: 33px;
    width: 80%;
    margin: 0 auto;
    line-height: 30px;
    color: #646567;
}
.our-company{
	font-size: 20px;
	font-family: "Flamante-Cairo-Book";
	margin-top: 54px;
	margin-bottom: 13px;
	color: #000000;
	font-weight: 700;
}
.about-include{
	color: black;
    font-weight: 700;

    margin-top: 10px;
}
.team-details{
	font-size: 14px;
    color: #666666;
    line-height: 22px;
    font-family: "Proxima Nova";
    font-weight: 500;
}
.about-details{
	margin: 15px 0px 40px 0px;
}
.our-location img{
	max-width: 85%;
}
.about-leaders{
	padding: 0px 80px;
}
.bank-background{
	display: flex;
	align-items: center;
}
.about-linkedin{
	float: right;
    width: 45px;
    height: 45px;
    margin-top: 20px;
    cursor: pointer;
}
.home-header.sticky{
	display: block;
	background-color: #fff;
}
.home-header.sticky .pt{
	padding-top: 0px;
}
.home-header.sticky .t-30{
	top: 20px;
}
.home-header.sticky .mh-55{
	top: -20% !important;
}
.lh-mohit{
	line-height: 1.63 !important;
}
.geo-heading{
	width: 45%;
}
#cam{
	font-size: 14px;
    line-height: 20px;
}
.case-sales-w{
	width: 60%;
}
.sales-acceleration-heading{
	width: 90%;
}
#sales-acceleration #ga-sa .features-9{
	line-height: 1.4;
}
#pm-sa ul div:first-child .ml-10,#spd ul div:nth-child(-n+2) .ml-10,#kass ul div:nth-child(-n+3) .ml-10{
	margin-left: 0px;
}
#pm-sa ul div:first-child .circle, #spd ul div:nth-child(-n+2) .circle, #kass ul div:nth-child(-n+3) .circle{
	display: none;
}
#pm-sa ul div:first-child .inner-circle, #spd ul div:nth-child(-n+2) .inner-circle, #kass ul div:nth-child(-n+3) .inner-circle{
	display: none;
}
#sales-acceleration #saalm-1 li:last-child, #sales-acceleration #pm-sa-1 li:last-child, #sales-acceleration #ga-sa li:last-child, #sales-acceleration #re-sa li:last-child, #sales-acceleration #ila-sa li:last-child{
	font-size: 13px;
	color: #2772b9;
}
.vis-hid{
	visibility: hidden;
}
.common-tooltip{
	position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
}
.bg-contact{
	position: relative;
}
.stats div:first-child div .stats-count{
	padding-right: 3px;
}
.stats div:last-child .text-left{
	width: 300px;
	padding-left: 0px;
}
.stats div:last-child .text-left .stats-text{
	padding-left: 50px;
}
.stats div:last-child .text-left .stats-count{
	text-align: center;
}
.stats-background .p-50{
	padding: 65px 0px 40px 0px;
}
.stats-background .p-50:last-child{
	padding: 55px 0px 40px 0px;
}
:-ms-fullscreen, .operations-use-case{
	font-size: 15px !important;
}

:-ms-fullscreen, .ml-25-use-case{
	margin-left: 33px;
}
:-ms-fullscreen, footer{
	margin-top: 400px;
}
.youtube-player .play{
	height: 72px;
    width: 72px;
    margin-left: -36px;
    margin-top: -36px;
    left: 50%;
    top: 50%;
    position: absolute;
    background: url(https://res.cloudinary.com/gamechange/image/upload/v1527578318/TxzC70f_qyoh0a.png) no-repeat;
    cursor: pointer;
}
.amazingcarousel-image>div {
    opacity: 0 !important;
}
.owl-item.active.center img{
	width: 500px !important;
	height: 250px !important;
	margin: 0 auto;
}
.owl-item.active>div>div{
	width: 240px;
	height: 127px;
	margin: 0 auto;
}
.owl-item.active.center>div>div{
	width: 500px;
	height: 250px;
	margin: 0 auto;
}
.iframe-exist>div {
	position: relative;
}
.owl-item.active.center>div>div iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 500px;
    margin: 0 auto;
}
.owl-stage{
	margin-top: 50px;
}
.owl-dots{
	margin-top: 60px;
	position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
}
.owl-dot{
	height: 15px;
    width: 15px;
    border-radius: 10px;
    margin: 5px;
}
.owl-dot{
	background-color: #c0c0c0 !important;
}
.owl-dot.active{
	background-color: #2772b9 !important;
}
.owl-stage{
	display: flex;
	align-items: center;
}
.learning-arrows{
	position: absolute;
	top:50%;
}
.learning-arrows img{
	max-width: 50%;
}
.left-arrow-bg{
	left: 15px;
}
.right-arrow-bg{
	right: 15px;
}
@media(min-width: 768px) {
	.owl-item.active {
		width: 336.667px !important;
	}
	.owl-item.active.center{
		width: 636.667px !important;
	}
	.hide-mob{
		display: block;
	}
	.show-mob{
		display: none;
	}
}
@media(min-width:320px) and (max-width:767px) {
	/*mobile menu css starts*/
	header, .header_inner, .header_top_bottom_holder, .mobile_menu_button, .logo_wrapper{
		min-height: 66px;
	    max-height: 66px;
	    background-color: #fff;
	}
	.logo_wrapper{
		top: 0px;
		left: 0;
	}
	.header_inner_left{
		display: flex;
	    align-items: center;
	    height: 66px;
	    top: 0px !important;
	}
	.header_inner_right{
		height: 0px;
	}
	nav.mobile_menu ul li a, nav.mobile_menu ul li h3{
		font-size: 14px;
	}
	nav.mobile_menu ul>li.has_sub>span.mobile_arrow{
		display: none;
	}
	nav.mobile_menu ul li, nav.mobile_menu ul li ul li{
		border-bottom: 0px;
	}
	nav.mobile_menu ul li.open_sub>ul{
		border-top: 0px;
	}
	nav.mobile_menu span{
		text-transform: capitalize;
	}
	nav.mobile_menu{
		padding: 0;
		top:0px;
		border-top: 1px solid #e7e7e7;
		position: static;
	}
	nav.mobile_menu>ul{
		margin: 0px;
		position: absolute;
		background-color: #fff;
		width: 100%;
		border-bottom: 1px solid #e7e7e7;
	}
	nav.mobile_menu>ul>li>a{
		margin-top: 10px;
	}
	nav.mobile_menu ul li a span{
		color: #333;
		clear: both;
	    font-weight: normal;
	    line-height: 1.42857143;
	    letter-spacing: .03em;
	    font-family: "Proxima Nova";
	}
	.q_logo a{
		left: 0;
	}
	#menu-main-menu-1{
		min-height: 430px;
	}
	nav.mobile_menu>ul>li>a>span{
		color: #666;
	}
	nav.mobile_menu ul li a{
		padding: 5px 20px 0px 20px;
		height: 25px;
	}
	nav.mobile_menu ul li ul li{
		margin: 0px;
	}
	nav.mobile_menu ul.sub_menu{
		padding: 0px 25px;
	}
	.demo-desk{
		top: -53px;
	}
	/*mobile menu css ends*/

	/*mobile our clients footer css starts*/
	.lorem-pos{
		position: unset;
	    width: 70%;
	}
	.bg-lorem{
		height: 200px;
		display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.lorem-text{
		font-size: 12px !important;
	}
	.happy-clients{
		margin: 30px auto 30px auto !important;
	}
	/*mobile our clients footer css ends*/

	/*mobile youtube videos css starts*/
	.owl-item.active.center>div>div{
		width: 100%;
		height: auto;
	}
	.owl-item.active.center img{
		width: 100% !important;
		height: auto !important;
	}
	.iframe-exist div{
		position: relative;
	    width: 100%;
	    height: 0;
	    padding-bottom: 56.25%;
	}
	.learning-arrows{
		top: 40%;
	}
	/*mobile youtube video ends*/

	/*mobile email footer starts*/
	.deliver{
		font-size: 18px !important;
	}
	.email{
		-webkit-appearance: none;
	}
	/*mobile email footer ends*/

	/*mobile footer starts*/
	.footer_top_holder p{
		font-size: 12px;
	}
	/*mobile footer ends*/

	/*about us mobile css start*/
	.about-us-list{
		margin: 30px 0px !important;
	}
	/*about us mobile css ends*/
	.hide-mob{
		display: none;
	}
	.show-mob{
		display: block;
	}
	.userMessage, .common-tooltip{
		font-size: 17px;
	}
	.stats div:first-child div .stats-count {
	    padding-right: 5px;
	}
	.stats div:last-child .text-left{
		width: 100px;
	}
	.stats div:last-child .text-left .stats-text,.stats div:last-child .text-left .stats-count{
		padding-left: 10px;
	}
	.left-arrow-bg{
		left: 10px;
	}
	.right-arrow-bg{
		right: 10px;
	}
	.learning-arrows img{
		max-width: 40%;
	}
	.owl-stage{
		margin-top: 0px;
		max-height: 260px;
	}
	.owl-item>div{
		max-width: 80%;
	}
	.owl-item>div>div{
		max-width: 100%;
	}
	.owl-dots{
		margin-top: 0px;
		bottom: 0px;
	}
	.owl-dot{
		height: 10px;
		width: 10px;
	}
	/*.owl-item.active.center>div>div iframe{
	    max-height: 150px;
	    max-width: 300px;
	}*/
	/*#learning-resources .carousel-inner .item .youtube-player img{
		height: 180px;
	    width: 340px;
	}
	#learning-resources .carousel-inner .item .youtube-player iframe{
		height: 180px;
	    width: 340px;
	}*/
	.stats-background .p-50 {
	    padding: 25px 0px 10px 0px;
	}
	.stats-background .p-50:last-child {
	    padding: 15px 0px 10px 0px;
	}
	.ml-25-use-case{
		margin-left: 0px;
	}
	.email-tooltip, .subject-tolltip, .name-tooltip, .message-tolltip{
	 	font-size: 12px;
    	text-align: left;
	}
	.vis-hid{
		display: none;
	}
	.bg-contact .mb-20{
		margin-bottom: 0px;
	}
	.bg-contact label{
		font-size: 10px;
	}
	.bg-contact .contact-form{
		width: 284px;
		text-align: left;
		margin: 0 auto;
	}
	#sales-acceleration .subfeature-header span, #back-office-performance-management .subfeature-header span{
		display: block;
		line-height: 1;
	}
	.active-feature{
		white-space: normal;
	}
	#sales-acceleration .subfeature-header div div, #back-office-performance-management .subfeature-header div div{
		height: 45px;
	}
	#pm-sa-mob ul div:first-child .ml-10,#spd-mob ul div:nth-child(-n+2) .ml-10,#kass-mob ul div:nth-child(-n+3) .ml-10{
		margin-left: 0px;
	}
	#pm-sa-mob ul div:first-child .circle, #spd-mob ul div:nth-child(-n+2) .circle, #kass-mob ul div:nth-child(-n+3) .circle{
		display: none;
	}
	#pm-sa-mob ul div:first-child .inner-circle, #spd-mob ul div:nth-child(-n+2) .inner-circle, #kass-mob ul div:nth-child(-n+3) .inner-circle{
		display: none;
	}
	#sales-acceleration #saalm-1-mob li:last-child, #sales-acceleration #pm-sa-1-mob li:last-child, #sales-acceleration #ga-sa-mob li:last-child, #sales-acceleration #re-sa-mob li:last-child, #sales-acceleration #ila-sa-mob li:last-child{
		font-size: 13px;
		color: #2772b9;
	}
	.case-sales-w{
		width: 90%;
	}
	.lorem{
		width: 99% !important;
	}
	.carousel-indicators li{
		margin: 0px !important;
	}
	.home-background{
		background-image: url('https://res.cloudinary.com/gamechange/image/upload/v1527578354/home_mobile_ry0rrg.png');
		height: 250px;
    	background-size: cover;
	    background-repeat: no-repeat;
	}
	.hero-text{
		display: none;
	}
	.ml-35{
		margin-left: 0px;
	}
	.bg-functional-headrer{
		height: 250px !important;
	}
	.innovation-core span{
		width: 100%;
		white-space: normal;
		margin: 10px auto 0px auto;
	}
	.innovation-core .mb-74{
		padding: 0px;
	}
	.home-features{
		height: 60px;
		width: 60px;
		min-width: 60px;
		margin: 0 auto;
	}
	.functional-indicator{
		bottom: -5px;
	}
	.operations-use-case li:not(:last-child){
		margin-bottom: 0px;
	}
	.operations-use-case{
		font-size: 9px !important;
	}
	.header_bottom.clearfix{
		padding: 0px!important;
	}
	.header_inner_left{
		padding-left: 20px;
	}

	.mobile_menu_button, .demo-desk{
		padding-right: 20px;
	}
	.home-bank-clients{
		margin-top: 10px;
	}
	.bit-pla{
		padding: 30px 0px 38px 0px;
	}
	.w-560{
		width: 100%;
		margin: 0 auto;
	}
	.h-716{
		height: 450px;
		margin-bottom: 5px;
	}
	.bg-sales, .bg-operations, .bg-call-center{
		background-size: cover;
	}
	.usage-statistics{
		font-size: 20px;
	}
	.bg-functional-headrer{
		height: 165px;
	}
	.bg-blog{
		padding-bottom: 40px;
		background-size: cover;
	}
	.blog-background{
		margin-bottom: 10px;
    	width: 280px;
    	padding: 15px 0px;
	}
	.ptb-180-130{
		padding-top: 40px;
    	padding-bottom: 35px;
	}
	.hero-text{
		margin-left: 30px;
	}
	.home-make{
		font-size: 18px;
		margin-bottom: 10px;
	}
	.productive-engaged{
		font-size: 30px;
	}
	.service-cards{
		display: none;
	}
	.blogs{
		width: 250px !important;
	}
	.bg-blog{
		height: auto;
	}
	.pt-100{
		padding-top: 30px;
	}
	.mb-74{
		margin-bottom: 10px;
	}
	.functional{
		padding-bottom: 38px;
	}
	.bg-bitnudge{
		margin: 0px !important;
		padding-top: 0px;
		height: 520px;
	}
	.p-50{
		padding: 10px 0px;
	}
	.stats-background{
		height: 220px;
	}
	.innovation-core span{
		font-size: 9px;
		margin-left: 0px;
		line-height: 1;
		text-align: center;
	    display: block;
	    margin-top: 10px;
	}
	.innovation-core{
		margin: 0px;
	}
	.customizable-use-case{
		font-size: 15px !important;
		margin: 10px auto 0px auto!important;
	}
	.bit-pla-text{
		margin-bottom: 20px;
	}
	.functional-text{
		margin-bottom: 35px;
	}
	.pr-3{
		padding-bottom: 5px;
	}
	.home-main-text{
		font-size: 20px;
	}
	.v-align{
		display:block;
	}
	#feature-desc{
		background-color: #fff;
	}
	.feaures-9-home .full_section_inner .wpb_column .vc_column-inner .wpb_wrapper .wpb_raw_code .wpb_wrapper div a{
		font-size: 13px;
	}
	.mobile_menu li:last-child{
		display:none;
	}
	.feature-header{
		display:none !important;
	}
	.title_size_small{
		padding: 0px !important;
	}
	.mobile_menu_button{
		margin:0px;
	}
	.lh-10{
		display: block;
		line-height: 10px !important;
	}
	.active-feature{
		text-transform: uppercase;
		margin-left: 10px !important;
	}
	.flex{
		display: flex !important;
		align-items: center;
	}
	.feature-footer input{
		width: 188px;
	}
	body{
		font-size: 12px;
		line-height: 1.8;
	}
	.clearfix-col{
		padding-right: 15px;
		padding-left: 15px;
	}
	.clearfix-row{
		margin-right: -15px;
		margin-left: -15px;
	}
	.mr-100{
		margin-right: 0px;
	}
	.heading{
		font-size: 13px;
    	line-height: 22px;
    	margin: 20px 0px !important;
    	padding: 0px 15px;
	}
	.feature-title{
		font-size: 20px;
	}
	.content-style{
		font-size: 12px;
		line-height: 20px;
		margin-right: 30px;
	}
	.title-main{
		font-size: 20px;
		line-height: 20px;
		margin-right: 30px
	}
	.background-image{
		height: auto;
	}
	.lorem{
		font-size: 12px !important;
    	line-height: 1.8 !important;
	}
	.m-desc{
		margin: 30px 0;
	}
	.p-0{
		padding: 0;
	}
	.m-0{
		margin: 0;
	}
	.banks:nth-last-child(-n+3) {
		display: none;
	}
	.desc-text{
		font-size: 14px;
		margin: 30px auto;
	}
	.show-background p{
		font-size: 12px;
	}
	.show-background p:nth-child(1){
		padding-top: 30px;
	}
	.feature-footer{
		height: 320px;
	}
	.carousel-container{
		margin: 30px 0 70px 0;
	}
	.subfeature-header{
		display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    grid-gap: 5px;
	}
	.sub-pos{
		position: relative;
		height: 100%;
	}
	.mw-40p{
		max-width: 40px;
	}
	.background-mob{
		height: 390px;
	}
	#feature-main-image img{
		min-height: 49px;
		max-width: 60px;
	}
	.background-auto{
		height: auto;
	}
	.q_logo img{
		max-height: 20px !important;
		top: 35%;
		left: 0px !important;
	}
	.demo{
		background-color: #2772b9;
	    border-radius: 4px;
	    margin-left: 20px;
	    height: 40px;
	    color: #fff;
	    font-weight: 600;
	    font-family: "Proxima Nova";
		display: block !important;
	}
	.feature-ul .text-left{
		display: flex;
    align-items: center;
	}
	.demo-desk{
		right:50px;
	}
	.selected{
		background-color: unset;
	}
	.per-inner{
		left: 21px !important;
	}
	.inner-circle-pos-rt{
		left: 21px;
	}
	.feature-ul li:hover{
		background-color: unset;
	}
	.show-banks{
		display: inline-flex;
		align-items: center;
	}
	.bank-background{
		height: auto;
	}
	.hero-text{
		top: 40%;
	}
	.performance-row img{
		max-width: 30%;
	}
	.performance-360 p{
		font-size: 18px;
    	padding-top: 30px;
    	padding-bottom: 15px;
	}
	.performance-360-text p{
		width: 100%;
	    font-size: 14px;
	    line-height: 1.6;
	    padding-bottom: 30px;
	}
	.pt-180{
		padding-top: 45px;
	}
	.mt-200{
		margin-top: 50px;
	}
	.bg-functional-use{
		height: 200px;
	}
	.sales-pos{
		top: 50px;
	}
	#functional-carousel .item img{
		max-width: 70%;
	}
	.functional-case{
		font-size: 20px;
	}
	.functional-cases-text{
		font-size: 16px;
    	line-height: 1.6;
	}
	.mt-60{
		margin-top: 30px;
	}
	.functionalities ol li{
		font-size: 12px;
    	margin-bottom: 10px;
	}
	.PIG>li{
		margin-left: 50px;
	}
	.pt-120{
		padding-top: 30px;
	}
	.functionalities ol li{
		list-style-image: url(http://159.89.156.150/wp-content/uploads/2018/04/gap4.png);
	}
	.features-core{
		font-size: 15px;
    	margin-top: 0px;
	}
	.feature-lines{
		width: 20px;
		right: -10px;
	}
	.h-595{
		height: auto;
	}
	.pb-120{
		padding-bottom: 30px;
	}
	.stats{
		display: grid;
	    grid-template-columns: 33.33% 33.33% 33.33%;
	    height: 100px;
	}
	.pr-100{
		padding-right: 10px;
	}
	.pl-100{
		padding-left: 10px;
	}
	.functional-buttons-pos{
		display:unset !important;
		top: 15%;
		width:100%;
	}
	.functional-buttons-pos li {
		display:inline-block !important;
	}
	.stats-text{
		font-size: 8px;
	}
	.stats-count{
		font-size: 20px;
	}
	.stats-background .text-left .stats-text{
		width: 100%;
		line-height: 1.6;
	}
	.mb-50{
		margin-bottom: 10px;
	}
	.innovation-core{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	#banks-carousel{
		height: 150px;
	}
	#banks-carousel .carousel-inner img{
		max-width: 80%;
	}
	.mob-bank-carousel{
		bottom: -10px;
	}
	.mb-100{
		margin-bottom: 30px;
	}
	.ptb-180{
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.ptb-200{
		padding: 0px;
	}
	.our-team-mem img{
		max-width: 40%;
	}
	.our-team .v-align{
		display: inline-flex;
		align-items: center;
	}
	.home-blog-posts{
		font-size: 20px;
	}
	.team-desc{
		width: 90%;
		font-size: 10px;
		line-height: 1.6;
	}
	.team-text{
		margin-top: 20px;
    	font-size: 16px;
	}
	.font18{
		font-size: 12px;
	}
	.blog-carousel{
		bottom: -40px;
	}
	.pl-70{
		padding-left: 0px;
		padding-right: 0px;
	}
	.blog-pots-title{
		margin-top: 20px !important;
	}
	.contact-text{
		margin-top: 20px;
		font-size: 20px;
	}
	.contact-sec-text{
		margin-top: 15px;
	    margin-bottom: 0;
	    font-size: 11px;
	}
	.one_fourth{
		margin-bottom: 0;
	}
	.last_column{
		display: none;
	}
	.one_fourth textarea{
		height: 100px;
	}
	.bg-clients{
		height: 400px;
	}
	.mtb-130{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.carousel-control{
		display: flex !important;
		align-items: center;
	}
	#functional-carousel{
		height: 200px;
	}
	.carousel-control img{
		max-width: 30%;
	}
	#functional-carousel .carousel-control.left, #happy-clients .carousel-control.left, #learning-resources .carousel-control.left{
		left: 20px;
	}
	#functional-carousel .carousel-control.right, #happy-clients .carousel-control.right, #learning-resources .carousel-control.right{
		right: 20px;
	}
	.lorem-text{
		margin: 0px !important;
	}
	.bank-carousel li,.bank-carousel li.active{
		height: 10px;
		width: 10px;
	}
	#learning-resources .carousel-inner .item.active>div:nth-child(2n+1){
		display: none;
	}
	/*#learning-resources .carousel-inner .item.active>.youtube-player{
		width: 340px;
		height: 187px;
	}
	#learning-resources .carousel-inner .item.active>.youtube-player{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}*/
	.lr{
		font-size: 20px;
	}
	.bg-learning{
		height: 400px;
	}
	.mt-270{
		margin-top: 90px;
	}
	.mt-70{
		margin-top: 30px;
	}
	.learning-carousel{
		bottom: -50px;
	}
	.blogs{
		width: 80%;
	    margin: 0 auto;
	    max-width: 388px;
	}
	.q_logo{
		top: 0 !important;
	}
	.bg-inner-car{
		height: 120px;
		margin-top: 40px;
	}
	.one_fifth.hm{
		display: none;
	}
	.one_fifth{
		display: inline-flex;
		align-items: center;
	}
	.one_half.first{
		width: 80%;
	}
	.customer-desc{
		width: 95%;
	}
	.ml-desc-text{
		margin: 0px;
		padding-left: 20px;
	}
	.mr-172{
		margin: 50px 0px 50px 0px;
		padding: 0px;
	}
	.usecases-list{
		font-size: 8px;
		line-height: 13px;
		width: 90%;
	}
	.about-us-text{
		font-size: 12px;
    	line-height: 20px;
    	margin-bottom: 28px;
	}
	.hr{
		width: 217px;
	}
	.overview{
		padding: 41px 0px;
	}
	.offices {
	    padding: 30px 0px 35px 0px;
	}
	.about-include {
	    margin-bottom: 28px;
	}
	.founding-team {
	    padding: 25px 0px;
	}
	.leadership-text {
	    width: 70%;
	    margin-bottom: 30px;
	}
	.about-leaders {
	    padding: 0px;
	}
	.about-experience{
		font-size: 10px;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    line-height: 20px;
	}
	.about-us-list{
		margin-left: 0px;
	    margin-right: 0px;
	    font-size: 12px;
	    margin-bottom: 10px;
	}
	.bg-about{
		height: 252px;
	}
	.our-company{
		font-size: 16px;
    	margin-top: 30px;
	}
	.about-us-hero{
		font-size: 15px;
    	line-height: 25px;
	}
}

@media (min-width: 992px) and (max-width: 1600px) {
	.hide-lg{
		display: none !important;
	}
}

@media(min-width: 1600px){
	.owl-item.active.center img{
		width: 770px !important;
		height: 430px !important;
	}
	.owl-item.active>div>div{
		width: 340px;
		height: 187px;
	}
	.owl-item.active.center>div>div{
		width: 770px;
		height: 430px;
	}
	.owl-item.active.center>div>div iframe{
	    max-height: 430px;
	    max-width: 770px;
	}
	.owl-stage{
		margin-top: 100px;
	}
	.owl-dots{
		bottom: -115px;
	}
	.owl-dot{
		height: 20px;
	    width: 20px;
	}
	.owl-item.active {
		width: 550px !important;
	}
	.owl-item.active.center{
		width: 850px !important;
	}
	.left-arrow-bg{
		left: 30px;
	}
	.right-arrow-bg{
		right: 30px;
	}
	.learning-arrows img{
		max-width: 100%;
	}
	#learning-resources .carousel-control.left{
		left: -50px;
	}
	.home-header.sticky .mh-55{
		top: -45% !important;
	}
	#learning-resources .carousel-control.right{
		right: -50px;
	}
	.lorem{
		width: 60% !important;
	}
	.stats-background .p-50{
		padding: 85px 0px 60px 0px;
	}
	.stats-background .p-50:last-child{
		padding: 75px 0px 60px 0px;
	}
	#pm-sa-1920 .ml-152{
		margin-left: 132px !important;
	}
	.card-header{
		font-size: 15px;
	}
	.hidden-xl{
		display: none !important;
	}
	body{
		font-size: 24px;
		line-height: 32px;
	}
	.m-desc{
		margin: 70px 0px 70px 270px;
	}
	.background-image{
		height: 800px;
	}
	.feature-title{
		font-size: 36px;
    	line-height: 48px;
	}
	.feature-ul li a ,.feature-ul li a:hover, .feature-ul li a:active, .feature-ul li a:focus{
		font-size: 14px !important;
	}
	.inner-circle-pos{
		left: 158px;
	}
	.inner-circle{
		margin-top: 14px;
	}
	.circle{
		margin-top: 3px;
	}
	.mlr-115{
		margin-left: 0px;
		margin-right: 0px;
	}
	.sub-feature .sub-features .mb-20{
		margin: 0px auto 20px auto;
	}
	.sub-feature .sub-features{
		margin-left: 53px;
		margin-right: 53px;
	}
	.heading-text{
		font-size: 36px;
	}
	.subheading{
		font-size: 22px;
	}
	.happy-clients{
		font-size: 37px !important;
	}
	.lorem{
		font-size: 22px !important;
		line-height: 28px !important;
    	font-weight: 500 !important;
	}
	.deliver{
		font-size: 36px !important;
	}
	.want{
		font-size: 22px !important;
    	font-weight: 500;
	}
	.feature-footer input{
		width: 327px;
	}
	.w-960{
		width: 960px;
	}
	.desc-text{
		font-size: 24px;
	}
	.inner-circle-pos-rt{
		left: 96px;
	}
	.sub-features .mb-20{
		height: 50px;
		width: 52px;
	}
	.sub-features span{
		font-size: 24px;
		line-height: 0px !important;
	}
	.mr-50{
		margin-right: 50px;
	}
	.mr-200{
		margin-right: 200px;
	}
	.title-main{
		font-size: 50px;
    	font-weight: 500;
	}
	.content-style{
		font-size: 28px;
    	line-height: 36px;
	}
	.h-461{
		height: auto;
	}
	.mtb-100{
		margin-top: 100px;
		margin-bottom: 100px;
	}
	.bank-background{
		height: auto;
	}
	.subheading{
		width: 50%;
		margin: 30px auto 70px auto;
	}
	.mw-70{
		max-width: 70%;
	}
	.ml-90{
		margin-left: 90px;
	}
	.mr-190{
		margin-right: 190px;
	}
	.feature-footer{
		height: 500px;
	}
	.feature-footer >div{
		margin-bottom: 50px;
	}
	.deliver{
		font-family: "Flamante-Cairo-Book";
		font-size: 35px !important;
    	color: rgba(255,255,255,0.89) !important;
	}
	.graph-position{
		position: absolute;
	    margin-top: 00px;
	    right: -330px;
	}
	.mw-200{
		max-width: 200%;
	}
	.h-680{
		height: 680px;
	}
	.heading-perfor{
		font-size: 45px;
    	width: 90%;
	}
	.mr-150{
		margin-right: 150px;
	}
	.heading-text{
		font-family: "Flamante-Cairo-Book";
	}
	.frontline-heading{
		font-size: 47px;
	    width: 77%;
	    line-height: 70px;
	    font-family: "Flamante-Cairo-Book";
	}
	.geo-heading{
		font-size: 45px;
	    font-family: "Flamante-Cairo-Book";
	    line-height: 60px;
    	margin-bottom: 5px;
		width: 70%;
	}
	.heading2{
		font-size: 45px;
	    font-family: "Flamante-Cairo-Book";
	    line-height: 50px;
	    width: 100%;
	}
	.channel-heading{
		font-size: 45px;
	    width: 80%;
	    line-height: 50px;
	}
	.engine-heading{
		font-size: 45px;
	    width: 100%;
	    line-height: 50px;
	}
	.subheading{
		font-size: 33px;
    	width: 100%;
    	margin-top: 0px;
	}
	.desc-text{
		font-size: 35px;
	    width: 80%;
	    line-height: 42px;
	}
	.m-200-auto{
		margin: 200px auto;
	}
	.m-150-auto{
		margin: 150px auto;
	}
	.recommend{
		font-size: 27px;
		width: 100%;
		margin-top: 20px;
	}
	.h-720{
		height: 720px;
	}
	.h-760{
		height: 760px;
	}
	.h-780{
		height: 780px;
	}
	.h-800{
		height: 800px;
	}
	.h-820{
		height: 820px;
	}
	.subheading-per{
		font-size: 25px;
	    width: 54%;
	    margin-top: 20px;
	}
	.w-82{
		width: 82%;
	}
	.mlr-53{
		margin-left: 53px !important;
		margin-right: 53px !important;
	}
	.mlr-133{
		margin-right: 133px !important;
		margin-left: 133px !important;
	}
	.mlr-103{
		margin-right: 103px !important;
		margin-left: 103px !important;
	}
	.mlr-63{
		margin-left: 63px !important;
		margin-right: 63px !important;
	}
	.mlr-123{
		margin-left: 123px !important;
		margin-right: 123px !important;
	}
	.show-background .w-60{
		width: 55%;
	}
	.show-background .w-60 p:first-child{
		font-weight: 500;
		font-size: 25px;
		line-height: 38px;
	}
	.show-background .w-60 p:nth-child(2){
		font-size: 22px;
	    font-weight: 500;
	    margin-top: 50px;
	    width: 80%;
	    margin: 50px auto 20px auto;
	    line-height: 38px;
	}
	.show-background .w-60 p:last-child{
		font-weight: 500;
		font-size: 22px;
		line-height: 38px;
	}
	.show-background{
		height: 620px;
	}
	.gamification-text{
		margin: 100px auto !important;
	}
	.sub-pos .row .clearfix-col{
		margin: 0px;
	}
	.mt-62{
		margin-top: 62px !important;
	}
	.sub-feature .sub-features span{
		display: table-cell;
    	line-height: 19px !important;
	}
	.bold-italic{
		font-size:28px;
		line-height:1.4;
		display: block;
		width: 80%;
	}
	.pt-180{
		padding-top: 180px;
	}
	.pt-100{
		padding-top: 100px;
	}
	.mb-50{
		margin-bottom: 50px;
	}
	.mtb-80{
		margin-top: 80px;
		margin-bottom: 80px;
	}
	.mt-200{
		margin-top: 200px;
	}
	.features-core{
		font-size: 40px;
	}
	.feature-lines{
		height: 3px;
	    width: 60px;
	    border: 1px solid black;
	    position: absolute;
	    top: 50%;
	    right: -20px;
	}
	.feature-names{
	    font-size: 16px;
	    width: 80%;
	}
	.mb-120{
		margin-bottom: 120px;
	}
	.h-300{
		height: 300px;
	}
	.stats-background .h-300:not(last-child){
		border-right: 1px solid #fff;
	}
	.sub-feature .sub-features span{
		font-size: 22px;
	}
	.mr-70{
		margin-right: 70px;
	}
	.mt0{
		margin-top: 0px;
	}
	.mt-170{
		margin-top: 170px;
	}
	.mtb-160-0{
		margin-top: 160px;
		margin-bottom: 0px;
	}
	.mt-100{
		margin-top: 100px;
	}
	.m0{
		margin:0px;
	}
	.mtb0{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.mb-80{
		margin-bottom: 80px;
	}
	.sub-feature .sub-features .lh-10{
		line-height: 10px !important;
	}
	.sub-feature .sub-features .lh-18{
		line-height: 18px !important;
	}
	.font-46{
		font-size: 46px;
	}
	.w-49{
		width: 49%;
	}
	.h-905{
		height: 905px;
	}
	.m-150-60-auto{
		margin: 150px auto 60px auto;
	}
	.lh-48{
		line-height: 48px;
	}
	.carousel-container{
		margin: 20px 0 100px 0;
	}
	.h-670{
		height: 670px;
	}
	.near-real-time{
		width: 700px;
		float: right;
	}
	.home-background{
		height: 1014px;
	}
	.home-banks{
		height: 120px;
	}
	.h-48{
		height: 48px;
	}
	.performance-360 p{
	    font-size: 36px;
	}
	.performance-360-text p{
		font-size: 22px;
	}
	.functional-cases-text{
		font-size: 35px;
		width: 80%;
	}
	.functionalities li{
		font-size: 22px;
	}
	.pb-120{
		padding-bottom: 120px;
	}
	.pb-90{
		padding-bottom: 90px;
	}
	.feature-lines{
		height: 3px;
	    width: 60px;
	}
	.h-595{
		height: 595px;
	}
	.stats-text {
		font-size: 19px;
		margin-bottom: 22px !important;
	}
	.stats-count{
		font-size: 65px;
	}
	.stats-background{
		height: 412px;
	}
	.ptb-180{
		padding-top: 180px;
		padding-bottom: 180px;
	}
	.blog-pots-title{
		font-size: 26px !important;
		margin-top: 50px !important;
		margin-bottom: 15px;
	}
	.blog-post-text{
		font-size: 18px !important;
	}
	.ptb-180-130{
		padding-top: 180px;
		padding-bottom: 130px;
	}
	.team-text{
		font-size: 26px;
	}
	.font18{
		font-size: 18px;
	}
	.team-desc{
		width: 75%;
	    font-size: 16px;
	    margin-bottom: 50px;
	}
	.contact-text{
	    font-size: 40px;
	    margin-top: 135px;
	}
	.contact-sec-text{
	    font-size: 18px;
	}
	.one_fourth label{
	    font-size: 14px;
	}
	.lr{
		font-size: 40px;
	}
	.mt-70{
		margin-top: 70px;
	}
	/*#functional-carousel .carousel-inner .item.next{
		text-align: center !important;
		top: 30% !important;
	}*/
	.mrl-100{
		margin-left: 100px;
		margin-right: 100px;
	}
	.bg-functional-use{
		height: 500px;
	}
	#functional-carousel .item img{
		max-width: 100%;
	}
	.functional-case{
	    font-size: 50px;
	}
	.bg-clients{
		height: 1080px;
	}
	.bg-contact{
		height: 700px;
	}
	.bg-learning{
		height: 1080px;
	}
	.sales-pos{
	    top: 135px;
	}
	.functional-buttons-pos{
	    top: 15%;
	}
	/*#learning-resources .carousel-inner .item .youtube-player img{
		height: 430px;
		width: 770px;
	}
	#learning-resources .carousel-inner .item .youtube-player iframe{
		height: 430px;
		width: 770px;
	}*/
	#learning-resources .carousel-inner .item div img{
		height: 187px;
		width: 340px;
	}
	.mt-270{
		margin-top: 270px;
	}
	.blog-carousel{
		bottom: -100px;
	}
	.bg-lorem{
		height: 650px;
	}
	.lorem-text{
		font-size: 21px !important;
	}
	.lorem-pos{
	    top: 45%;
	}
	.lorem-pos img{
		max-width: 100%;
	}
	.learning-carousel{
		bottom: -150px;
	}
	.ptb-200{
		padding: 0px 200px;
	}
	.bg-inner-car{
	    height: 300px;
	    margin-top: 140px;
	}
	nav.main_menu>ul>li>a{
		padding: 0px 25px;
	}
	.case-w{
		width: 90%;
	}
	.case-sales-w{
		width: 63.5%;
	    color: #666666;
	    font-size: 28px;
	}
	.case-heading{
		line-height: 52px;
    	width: 70%;
	}
	.ml-desc-text{
		margin: 100px 0px 70px 204px;
	}
	.mr-172{
		margin-right: 172px;
	}
	.usecases-list{
		font-size: 30px;
	    width: 70%;
	    line-height: 42px;
	}
	.customer-desc{
		font-size: 30px;
	    font-family: "Proxima Nova";
	    color: #202020;
	    width: 70%;
	    line-height: 42px;
	}
	.desc1{
		margin: 100px auto 20px auto;
	}
	.desc2{
		margin: 0px auto 100px auto;
	}
	.usecases-list li:not(:first-child){
		list-style-image: url(http://159.89.156.150/wp-content/uploads/2018/04/circle20.png);
	}
	.home-make{
		font-size: 50px;
		margin-bottom: 70px;
	}
	.fr-wf{
		font-size: 70px;
	}
	.productive-engaged{
		font-size: 100px;
	}
	.service-cards{
		bottom: 140px;

	}
	.lh-mohit{
		line-height: 1.3 !important;
	}
    .bots{
    	width: 200px;
	    height: 130px;
	    display: flex;
	    justify-content: unsafe;
	    align-items: flex-end;
    }
    .service-cards{
		bottom: 140px;
	    margin-left: 100px;
	}
	.card-text{
		font-size: 22px;
		margin-top: 25px;
	}
	.card-sub-text{
		font-size: 19px;
		margin-bottom: 25px;
	}
	.service-card{
		margin: 0px 5px;
		padding-left: 20px;
		padding-right: 20px;
		height: 150px;
		min-height: 150px;
	}
	.pr-3{
		padding-right: 0px;
	}
	.bit-pla-text{
		margin-bottom: 90px;
	}
	.bit-pla{
		padding: 105px 0px 148px 0px;
	}
	.functional-text{
		margin-bottom: 105px;
	}
	.w-560{
		width: 560px;
	}
	.customizable-use-case{
	    font-size: 30px !important;
	    margin: 40px auto 0px auto!important;
	    line-height: 47px !important;
	}
	.operations-use-case{
	    font-size: 22px !important;
	    margin: 40px auto 0px auto!important;
	}
	.operations-use-case li{
		line-height: 33px !important;
	}
	.bg-functional-headrer{
		height: 310px;
	}
	.ml-35{
		margin-left: 35px;
	}
	.h-716{
		height: 900px;
	}
	.bank-carousel li{
		height: 20px;
		width: 20px;
		background-color: #c0c0c0;
	}
	.bank-carousel .active{
		height: 20px;
		width: 20px;
		background-color: #2772b9;
	}
	.operations-list li{
		list-style-image: url(http://159.89.156.150/wp-content/uploads/2018/04/gap.png);
	}
	.functional{
		padding-bottom: 108px;
	}
	.bg-bitnudge{
		padding-top: 125px;
		height: 842px;
	}
	.home-features{
		height: 110px;
	    width: 110px;
	    min-width: 110px;
	}
	.home-features img{
		max-width: 100%;
	}
	.innovation-core span{
		margin-left: 33px;
		font-size: 22px;
	    color: #2772b9;
	    font-family: "Proxima Nova";
	}
	.p-50{
		padding: 50px 0px;
	}
	.usage-statistics{
		font-size: 40px;
	}
	.bg-blog{
		height: 885px;
	}
	.mb-100{
		margin-bottom: 100px;
	}
	.blog-background{
		width: 430px;
		padding: 15px 0px;
	}
	.mh-55{
		max-height: 50px !important;
		top: -40% !important;
	}
	.header-features{
		font-size: 20px !important;
	}
	.blogs{
		width: 388px;
	}
	.pt{
		padding-top: 15px;
	}
	.req-bt{
		font-size: 18px !important;
		height: 40px !important;
	    width: 200px !important;
	    border-radius: 10px !important;
	    padding: 0px !important;
	    font-weight: 900 !important;
	    font-family: "Proxima Nova";

	}
	.t-30{
		top: 30px;
	}
	.about-us-hero{
		font-size: 48px;
		line-height: 50px;
	}
	.our-company{
		font-size: 26px;
		margin-top: 98px;
	}
	.our-company-bg{
	    height: 324px;
	}
	.overview{
		padding: 162px 0px;
	}
	.offices{
		padding: 125px 0px 133px 0px;
	}
	.about-us-title {
	    font-size: 37px;
	    margin-bottom: 46px;
	}
	.about-us-text{
		font-size: 32px;
		font-weight: 500;
		font-family: "Proxima Nova";
		width: 80%;
	    margin: 0 auto;
	    line-height: 44px;
	    margin-bottom: 78px !important;
	}
	.founding-team{
		padding: 112px 0px;
	}
	.leadership-text{
	    margin-bottom: 107px;
	    width: 50%;
	}
	.team-align{
		width: 352px;
	}
	.about-team-text{
		font-size: 26px;
		margin-top: 50px;
	}
	.about-leaders{
		padding: 0px 100px;
	}
	.about-include{
		color: black;
	    font-weight: 700;
	    margin-bottom: 78px;
	    margin-top: 10px;
	}
	.our-location img{
		max-width: 100%;
	}
	.team-details{
		font-size: 18px;
	    line-height: 32px;
	}
	.about-details{
		margin: 20px 0px 80px 0px;
	}
	.about-experience{
		font-size: 32px;
	    padding-top: 66px;
	    padding-bottom: 66px;
	    line-height: 45px;
	}
	.about-us-list{
		font-size: 26px;
	    line-height: 40px;
	    margin-left: 200px;
	    margin-right: 200px;
	}
	.w-957{
		width: 957px;
	}
	.about-linkedin{
	    margin-top: 40px;
	}
	.operations-use-case li:not(:last-child){
		margin-bottom: 25px;
	}
	.sales-use-case2 li:not(:last-child) {
		margin-bottom: 5px;
	}
	.hero-text{
		margin-left: 100px;
	}
	.sales-acceleration-heading{
		width: 88%;
		line-height: 52px;
	}
	#pm1-1920 .features-9 li{
		line-height: 31px;
	}
	#sales-acceleration .inner-circle-pos{
		left: 138px;
	}
	#sales-acceleration #saalm-1-1920 li:last-child, #sales-acceleration #pm-sa-1-1920 li:last-child, #sales-acceleration #ga-sa-1920 li:last-child, #sales-acceleration #re-sa-1920 li:last-child, #sales-acceleration #ila-sa-1920 li:last-child{
		font-size: 22px;
    	color: #2772b9;
	}
	.userMessage, .common-tooltip{
		font-size: 22px;
	}
	.email-tooltip, .subject-tolltip, .name-tooltip, .message-tolltip{
	 	font-size: 18px;
    	text-align: left;
	}
	.bg-contact input{
		height: 56px;
	    width: 394px;
	    border-radius: 5px;
	}
	.bg-contact label{
		font-size: 18px;
	}
	.bg-contact textarea{
		height: 126px;
	    width: 394px;
	    border-radius: 5px;
	}
	.bg-contact .contact-form{
		width: 394px;
		text-align: left;
	}
	.common-tooltip{
	    bottom: 0px;
	}
    :-ms-fullscreen, .home-blog-posts{
		margin-top:0px !important;
		padding-top:30px !important;
	}
	:-ms-fullscreen, .operations-use-case{
		font-size: 21px !important;
	}
	:-ms-fullscreen, .bit-pla-text{
		padding-top:90px !important;
		margin-bottom:70px !important;
	}
	:-ms-fullscreen, .functional-text{
		padding-top: 148px !important;
	}
	:-ms-fullscreen, .bg-learning{
		height: 850px !important;
	}
	:-ms-fullscreen, .bg-clients{
		height: 1080px !important;
	}
	:-ms-fullscreen, .bg-clients .home-blog-posts{
		margin-top: 0px !important;
		padding-top: 100px !important;
	}
	:-ms-fullscreen, #functional-carousel .carousel-control.left, #happy-clients .carousel-control.left,#learning-resources .carousel-control.left{
		left: 0px;
	}
	:-ms-fullscreen, #functional-carousel .carousel-control.right, #happy-clients .carousel-control.right, #learning-resources .carousel-control.right{
		right: 0px;
	}
	:-ms-fullscreen, .ml-35{
		margin-left: 0px !important;
		padding-left: 35px !important;
	}
	:-ms-fullscreen, footer{
		margin-top: 500px;
	}
	:-ms-fullscreen, .inner-circle-pos{
		margin-top: 11.5px !important;
		left: 138px !important;
	}
	:-ms-fullscreen, #sales-acceleration .inner-circle-pos{
		left: 118px !important;
	}
	:-ms-fullscreen, #sales-acceleration .mlr-53{
		margin-left: 43px !important;
		margin-right: 43px !important;
	}
	:-ms-fullscreen, #back-office-performance-management .mlr-53{
		margin-left: 43px !important;
		margin-right: 43px !important;
	}
	:-ms-fullscreen, .inner-circle-pos-rt{
		margin-top: 11px !important;
		left: 76px !important;
	}
	:-ms-fullscreen, .operations-use-case{
		font-size: 21px !important;
	}
	:-ms-fullscreen, .ml-25-use-case{
		margin-left: 40px;
	}
	#back-office-performance-management .mlr-53:first-child span{
		white-space: nowrap;
	}
	#pm-sa-1920 ul div:first-child .ml-10,#spd-1920 ul div:nth-child(-n+2) .ml-10,#kass-1920 ul div:nth-child(-n+3) .ml-10{
		margin-left: 0px;
	}
	#pm-sa-1920 ul div:first-child .circle, #spd-1920 ul div:nth-child(-n+2) .circle, #kass-1920 ul div:nth-child(-n+3) .circle{
		display: none;
	}
	#pm-sa-1920 ul div:first-child .inner-circle, #spd-1920 ul div:nth-child(-n+2) .inner-circle, #kass-1920 ul div:nth-child(-n+3) .inner-circle{
		display: none;
	}
	.stats div:last-child .text-left{
		width: 500px;
		padding-left: 0px;
	}
	.stats div:last-child .text-left .stats-text,.stats div:last-child .text-left .stats-count{
		padding-left: 100px;
	}
	.stats div:last-child .text-left .stats-count{
		text-align: center;
	}
	.stats div:first-child div .stats-count{
		padding-right: 0px;
	}
	.stats div:first-child div .stats-text{
		padding-right: 3px;
	}
}


:-ms-fullscreen, .inner-circle-pos{
	left: 36px;
}
:-ms-fullscreen, .inner-circle-pos-rt{
	margin-top: 11px !important;
	left: 76px !important;
}
:-ms-fullscreen,.sales-use-case2 li:not(:last-child) {
	margin-bottom: 5px !important;
}
.carousel-inner, .carousel-indicators {
	display:block !important;
}
/*css for firefox browser only*/
@-moz-document url-prefix() {
    .feature-nav{
    	margin-top: 0px !important;
    }
	.operations-use-case{
		font-size: 21px !important;
	}
	.feature-ul li a, .feature-ul li a:hover, .feature-ul li a:active, .feature-ul li a:focus{
		white-space: nowrap;
	}
	.service-cards {
		margin-left: 20px;
	}
	.card-sub-text {
		font-size: 13px;
	}
	.operations-use-case{
		font-size: 15px !important;
	}
	.main_menu.right{
		left: -203px !important;
		right: 0px !important;
	}
	.line-clamp{
		display            : block;
		-webkit-box-orient : vertical;
		position           : relative;
		line-height        : 2.2;
		overflow           : hidden;
		text-overflow      : ellipsis;
		padding            : 0 !important;
		display: inline-flex !important;
		align-items: flex-end;
	}
	.line-clamp-1{
		-webkit-line-clamp : 1;
		height             : calc(1em * 2.2 * 1);
	}
	.line-clamp-2{
		-webkit-line-clamp : 2;
		height             : calc(1em * 2.2 * 2);
	}
	.line-clamp-3{
		-webkit-line-clamp : 3;
		height             : calc(1em * 2.2 * 3);
	}
	.line-clamp-4{
		-webkit-line-clamp : 4;
		height             : calc(1em * 2.2 * 4);
	}
	.line-clamp-5{
		-webkit-line-clamp : 5;
		height             : calc(1em * 2.2 * 5);
	}
	@media(min-width: 1600px){
		.service-cards {
			margin-left: 50px;
		}
		.card-sub-text {
			font-size: 14px;
		}
		.operations-use-case{
			font-size: 21px !important;
		}
		.main_menu.right{
			left: -243px !important;
			right: 0px !important;
		}
		.ml-25-use-case{
			margin-left: 35px;
		}
	}
}
/*css for safari browser only*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	_::-webkit-full-page-media, _:future, .home-banks {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	_::-webkit-full-page-media, _:future, .stats {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	_::-webkit-full-page-media, _:future, .show-banks {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	_::-webkit-full-page-media, _:future, .feature-ul li {
		padding: 0px 28px;
	}
	_::-webkit-full-page-media, _:future, .br-stats:nth-child(2) {
		padding: 0px 10px;
	}
	_::-webkit-full-page-media, _:future, .feature-ul li a, .feature-ul li a:hover, .feature-ul li a:active, .feature-ul li a:focus {
		white-space: nowrap;
	}
	_::-webkit-full-page-media, _:future, .service-cards {
		margin-left: 0px;
	}
	_::-webkit-full-page-media, _:future, .card-sub-text {
		font-size: 13px;
	}
	@media(min-width: 1600px){
		_::-webkit-full-page-media, _:future, .service-cards {
			margin-left: 50px;
		}
		_::-webkit-full-page-media, _:future, .card-sub-text {
			font-size: 14px;
		}
	}
	@media(min-width: 320px) and (max-width: 767px) {
		_::-webkit-full-page-media, _:future, .feature-footer input {
		    width: 188px;
		    padding: 10px 15px 18px;
		}
	}
}
/*Css for Microsoft Edge*/
@supports (-ms-ime-align: auto) {
  	.operations-use-case{
		font-size: 15px !important;
	}
	.feature-ul li a, .feature-ul li a:hover, .feature-ul li a:active, .feature-ul li a:focus{
		white-space: nowrap;
	}
	.feature-nav{
    	margin-top: 0px !important;
    }
    .ml-25-use-case{
    	margin-left: 33px;
    }

    @media(min-width: 1600px) {
    	.operations-use-case{
			font-size: 21px !important;
		}
		.ml-25-use-case{
	    	margin-left: 40px;
	    }
    }
}
/*css for IE 11*/
:-ms-fullscreen, .stats, .home-banks, .show-banks{
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
:-ms-fullscreen, .bit-pla-text{
	padding-top:50px;
	margin-bottom:50px;
}
:-ms-fullscreen, .functional-text{
	padding-top: 68px;
}
:-ms-fullscreen, .br-stats:nth-child(2){
	padding-left: 70px ;
	padding-right: 70px;
}
:-ms-fullscreen, .our-team{
	min-height: 590px;
	height: auto;
	padding-top: 50px;
}
:-ms-fullscreen, .our-team .col-md-3{
	background-color:#fff;
	padding-bottom:150px;
}
:-ms-fullscreen, .contact-text{
	padding-top:80px;
	margin-top: 0px;
}
:-ms-fullscreen, .home-blog-posts{
	margin-top:0px;
	padding-top:0px;
}
:-ms-fullscreen, .bg-learning{
	height: 550px;
}
:-ms-fullscreen, .feature-nav{
	margin-top: 0px !important;
}
:-ms-fullscreen, .show-banks .banks{
	width: 30%;
}
:-ms-fullscreen, .show-banks img{
	max-width: 70%;
}
:-ms-fullscreen, .per-inner{
	margin-top: 11px;
	left: 6px !important;
}
:-ms-fullscreen, .circle{
	top: 25px;
	left: -20px;
}
:-ms-fullscreen, #ur-1920 ul{
	font-size: 23px;
	line-height: 26px;
}
:-ms-fullscreen, #sc-1920 ul, #ss-1920 ul{
	font-size: 23px;
	line-height: 28px;
}
:-ms-fullscreen, #va-1920{
	font-size: 23px;
}
:-ms-fullscreen, .operations-use-case{
	font-size: 15px;
}
:-ms-fullscreen, .operations-use-case li:not(:last-child) {
	margin-bottom: 20px;
}
:-ms-fullscreen, .bg-clients{
	height: 700px;
}
:-ms-fullscreen, .bg-clients .home-blog-posts{
	margin-top: 50px;
}
:-ms-fullscreen, .bit-pla .col-md-3 {
	background-color: #fff;
}
:-ms-fullscreen, .functional .col-md-4, :-ms-fullscreen, .functional .col-md-12{
	background-color: #fff;
}
:-ms-fullscreen, .home-footer{
	display: flex;
	align-items: center;
	justify-content: center;
}
:-ms-fullscreen, .home-footer .footer_inner{
	width: 100%;
}
:-ms-fullscreen, .home-footer .text-widget div{
	padding-top: 15px !important;
}
:-ms-fullscreen, #case-nav{
	line-height:0px;
}
:-ms-fullscreen, #feature-nav{
	line-height:0px;
}
:-ms-fullscreen,#menu-main-menu li a span:hover, #menu-main-menu li a span:active, #menu-main-menu li a span:focus{
	color: #fff !important;
	background-color: transparent !important;
}
:-ms-fullscreen,#menu-main-menu li a:hover, #menu-main-menu li a:active, #menu-main-menu li a:focus{
	background-color: #6e7b90 !important;
}
@media (max-width:767px) and (min-width:320px) {
	.functional-buttons-pos {
		display:unset !important;
	}
	.functional-buttons-pos li {
		display:inline-block;
	}
}
@media (min-width:768px) {
	.nav-hide {
		display:none !important;
	}
}

/* Print Styles */
@media print {
	body { background:white; color:black; margin:0; }
}

