/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");

.two_columns_75_25 {
	width:100% !important;
}
.two_columns_75_25>.column1 {
    width: 100%;
    float: left;
}
.bigtext * {
    white-space: normal;
}
.entry_date {
	display:none;
}
.title_subtitle_holder {
	display:none;
}
.title_size_small {
	/*height:120px !important;*/
}
.blog_single .post_image img {
	max-width: 100% !important;
    margin: 0 auto;
    width: auto !important;
    max-height: 400px;
}
.one_by_one {
	    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 4%,rgba(0,0,0,0.6) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.6) 55%,rgba(0,0,0,0.2) 96%,rgba(0,0,0,0) 100%);
}
@media only screen and (max-width:767px){
	.learning-resource {
		font-size:28px;
	}
	.carousel:not(.advanced_responsiveness) .carousel-inner h2 span {
		position: relative;
		top: -60px;
		font-size: 48px !important;
		line-height:0.1;
	}
	.carousel:not(.advanced_responsiveness) .carousel-inner p span {
		font-size: 60%!important;
		position: relative;
		top: -60px;
		line-height:0.1;
	}
}


